{% load static %}
<input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_subcategory %}
            {% for subcategory in all_subcategory %}
                <tr>
                    <td>{{ forloop.counter }}00000000000000000000000000000000000</td>
                    <td>{{ subcategory.name }}99</td>
                    <td>
                        <form method ="post">
                            {% csrf_token %}
                            <input type="hidden" name="status" value="{{ subcategory.id }}">
                            <div class="material-switch">
                                <input id="someSwitchOptionSuccess{{ subcategory .id }}"
                                       name="status"
                                       type="checkbox"
                                       {% if subcategory.status %}onclick="changesubcategorystatus({{ subcategory .id }},0)" checked{% endif %}
                                       onchange="this.form.submit()">
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'subcategory_update' subcategory .id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"
                               onclick="show_modal({{ subcategory .id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %}
