{% include "superadmin/layout/header.html" %}
{% load static %}
<!-- ROW OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Of All Category</h3>
            </div>
            <div class="card-body">
                <!--search filter-->
                {% include "search_filter.html" %}
                <div class="table-responsive" id="sub-table">
                    <table class="table border-top table-bordered mb-0 table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>Sl No</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if all_subcategory %}
                                {% for subcategory in all_subcategory %}
                                <tr class="text-center">
                                    <td>{{ forloop.counter }}</td>
                                        <td>{{ subcategory.name }}</td>
                                        <td>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="status_id" value="{{ subcategory.id }}">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input"
                                                           type="checkbox"
                                                           id="customSwitch1"
                                                           name="status"
                                                           {% if subcategory.status %}checked{% endif %}
                                                           onchange="this.form.submit()">
                                                </div>
                                            </form>
                                        </td>
                                        <td>
                                            <a class="btn btn-info btn-sm mb-1"
                                               href="{% url 'subcategory_update' subcategory.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                                            <button type="button"
                                                    class="btn btn-danger btn-sm mb-1"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteModal{{ subcategory.id }}">
                                                <i class="side-menu__icon fe fe-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <div class="modal  fade"
                                         id="deleteModal{{ subcategory.id }}"
                                         tabindex="-1"
                                         role="dialog">
                                        <div class="modal-dialog modal-md modal-dialog-centered text-center"
                                             role="document">
                                            <div class="modal-content ">
                                                <div class="modal-body">
                                                    <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                                                    <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                                                    <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                                                    <form method="post">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="delete_id" value="{{ subcategory.id }}">
                                                        <button type="submit" class="btn btn-success btn-sm">Yes</button>
                                                        <button type="button"
                                                                class="btn btn-danger pd-x-25 btn-sm"
                                                                data-bs-dismiss="modal">Cancel</button>
                                                    </form>
                                                </div>
                                            </div>
                                            <div class="modal-footer"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan='10'>
                                    <center>No record found</center>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if all_subcategory %}
                    <div class="mt-4">{% include "pagination.html" %}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include "superadmin/layout/footer.html" %}
