{% include "superadmin/layout/header.html" %}
{% load static %}
<!-- ROW OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Of All Application</h3>
            </div>
            <div class="card-body">
                <!--search_filter-->
                {% include "search_filter.html" %}
            </div>
            <div class="table-responsive" id="application-table">
                {% load static %}
                <table class="table border-top table-bordered mb-0 table-hover ms-4 me-4">
                    <thead>
                        <tr class="text-center">
                            <th>Sl No</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>DOB</th>
                            <th>Email</th>
                            <th>Mobile Number</th>
                            <th>Job Applied</th>
                            <th>Resume</th>
                            <th>Cover</th>
                            <th>Message</th>
                            <th>Linkedin</th>
                            <th>portfolio</th>
                            <th>Notice Period</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if all_applications %}
                            {% for application in all_applications %}
                                <tr class="text-center">
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ application.first_name }}</td>
                                    <td>{{ application.last_name }}</td>
                                    <td>{{ application.date_of_birth|date:"d/m/Y" }}</td>
                                    <td>{{ application.email }}</td>
                                    <td>{{ application.phone_number }}</td>
                                    <td>{{ application.vacancy }}</td>
                                    <td>
                                        <a href="{{ application.upload_cv.url }}"
                                           target="_blank"
                                           style="color:rgb(255, 60, 0)">View</a>
                                    </td>
                                    <td>
                                        {% if application.cover_letter %}
                                            <a href="{{ application.cover_letter }}"
                                               target="_blank"
                                               style="color:rgb(255, 60, 0)">View</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0)"
                                           class="btn btn-success btn-sm mb-1"
                                           data-bs-toggle="modal"
                                           data-bs-target="#over{{ application.id }}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
                                    </td>
                                    <td>{{ application.linkedin_url|default:"No Linkedin provided" }}</td>
                                    <td>{{ application.portfolio_url|default:"No portfolio available" }}</td>
                                    <td>{{ application.get_notice_period_display }}</td>
                                    <td>
                                        <button type="button"
                                                class="btn btn-danger btn-sm mb-1"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal{{ application.id }}">
                                            <i class="side-menu__icon fe fe-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- modal -->
                                <div class="modal  fade"
                                     id="over{{ application.id }}"
                                     tabindex="-1"
                                     role="dialog">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <p class="text-center">{{ application.message }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--modal-->
                                <div class="modal fade"
                                     id="deleteModal{{ application.id }}"
                                     tabindex="-1"
                                     role="dialog">
                                    <div class="modal-dialog modal-md modal-dialog-centered text-center"
                                         role="document">
                                        <div class="modal-content ">
                                            <div class="modal-body">
                                                <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                                                <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                                                <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="delete_id" value="{{ application.id }}">
                                                    <button type="submit" class="btn btn-success btn-sm">Yes</button>
                                                    <button type="button"
                                                            class="btn btn-danger pd-x-25 btn-sm"
                                                            data-bs-dismiss="modal">Cancel</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer"></div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <tr class="text-center">
                                <td colspan="10" class="text-center">No record found</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                {% if all_applications %}
                    <div class="mt-4">{% include "pagination.html" %}</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!--app-content close-->
{% include "superadmin/layout/footer.html" %}
