{% load static %}
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>First Name</th>
            <th>Last Name </th>
            <th>DOB </th>
            <th>Email</th>
            <th>Mobile Number</th>
            <th>Job Applied</th>
            <th>Resume</th>
            <th>Cover</th>
            <th>Message</th>
            <th>Linkedin</th>
            <th>portfolio</th>
            <th>Notice Period </th>
            
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_applications %}
        {% for application in all_applications %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{application.first_name}}</td>
            <td>{{application.last_name}}</td>
            <td>{{application.date|date:"d/m/Y"}}</td>
            <td>{{application.email}}</td>
            <td>{{application.mobile_no}}</td>
            <td>
				{% if application.job %}
				{{application.job}}
				{% endif %}
			</td>
            <td>
                <a href="{{ application.attachment.url }}" target="_blank" style="color:rgb(255, 60, 0);">View</a>

            </td>
			 <td>
				{% if application.cover %}
                <a href="{{ application.cover.url }}" target="_blank" style="color:rgb(255, 60, 0);">View</a>
				{% endif %}
            </td>
            <td>
				<a href="javascript:void(0)" class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#over{{application.id}}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
			</td>
            <td>
				{% if d.linkedin %}
				{{application.linkedin}}
				{% endif %}
			</td>
            <td>
				{% if d.portfolio %}
				{{application.portfolio}}
				{% endif %}
			</td>
            <td>
				{% if d.notice %}
				{{application.notice}}
				{% endif %}
			</td>
            
            <td>

                <button class="btn btn-danger btn-sm mb-1"  ><i class="side-menu__icon fe fe-trash"  onclick="show_modal({{application.id}})"></i></button>


            </td>
        </tr>
		<!-- modal -->

        <div class="modal  fade" id="over{{application.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">

                        <p class="text-center">{{application.message}}</p>

                    </div>
                </div>
            </div>
        </div>
    
        {% endfor %}
        {% else %}
        <tr >
            <td colspan='10'><center>No record found</center></td>
        </tr>
        {% endif %}

    </tbody>
</table>
{% include "pagination.html"%}