{% include "superadmin/layout/header.html" %}
{% load static %}
<!-- ROW OPEN -->
<form method="post" enctype="multipart/form-data" id="myform">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-xl-4 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add New Event Gallery*</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                            <input type="file"
                                   class="dropify"
                                   data-bs-height="180"
                                   multiple
                                   name="images">
                        </div>
                    </div>
                    {% if existing_images %}
                        <!-- Show existing slider images -->
                        <div class="existing-slider-images">
                            {% for slider in existing_images %}
                                <img src="{{ slider.image.url }}"
                                     alt="Slider Image"
                                     class="existing-slider-img"
                                     id="slider{{ slider.id }}" />
                                <a href="{% url 'delete_event' slider.id %}">
                                    <button type="button"
                                            id="btn-del{{ slider.id }}"
                                            class="delete-image-btn"
                                            style="margin-top: 10px;
                                                   background: #0aa3ce;
                                                   color: #fff;
                                                   padding: 4px 26px;
                                                   border: 0px;
                                                   border-radius: 2px">Delete</button>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8 col-xl-8 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row col-lg-12">
                        <div class="form-group col-lg-6 col-12">
                            <label for="" class="form-label">Title*</label>
                            {{ form.title }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Name</label>
                            {{ form.name }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label for="" class="form-label">Date</label>
                            {{ form.date }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label for="" class="form-label">Location*</label>
                            {{ form.location }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label for="" class="form-label">Sequence*</label>
                            {{ form.sequence }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label for="" class="form-label">Image Alt</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Image Alt"
                                   name="image_alt"
                                   value="{{ event.event_image.first.image_alt }}">
                        </div>
                        <div class="col-lg-12 col-12">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Description*</label>
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-12">
                            <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton">Submit</button>
                            <a href="{% url 'gallery_view' %}" class="btn btn-danger mt-4 mb-0">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER END -->
    </div>
</form>
<!--app-content close-->
{% include 'superadmin/layout/footer.html' %}
