{% include 'superadmin/layout/header.html' %}
{% load static %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Supermarkets</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'supermarket_add' %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            {% include "messages.html" %}
            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of All Supermarkets</h3>
                        </div>
                        <div class="card-body">
                            <!--search_filter.html-->
                            {% include "search_filter.html" %}
                            <div class="table-responsive" id="supermarket-table">
                                {% load static %}
                                <input type="hidden" id="page" name="page" value="{{ page }}">
                                <table class="table border-top table-bordered mb-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Image</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if all_supermarkets %}
                                            {% for supermarket in all_supermarkets %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>
                                                        {% if supermarket.image %}
                                                            <a href="{{ supermarket.image.url }}"
                                                               data-lightbox="image-{{ forloop.counter }}">
                                                                <img src="{{ supermarket.image.url }}" style="width:90px;">
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <div class="material-switch">
                                                            <input id="someSwitchOptionSuccess{{ supermarket.id }}"
                                                                   name="someSwitchOption001"
                                                                   type="checkbox"
                                                                   {% if d.status == True %} onclick="changesuperstatus({{ supermarket.id }},0)" checked {% else %}onclick="changesuperstatus({{ supermarket.id }},1)" {% endif %} />
                                                            <label for="someSwitchOptionSuccess{{ supermarket.id }}"
                                                                   class="label-success"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info btn-sm mb-1"
                                                           href="{% url 'supermarket_update' supermarket.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                                                        <button class="btn btn-danger btn-sm mb-1">
                                                            <i class="side-menu__icon fe fe-trash"
                                                               onclick="show_modal({{ supermarket.id }})"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan='10'>
                                                    <center>No record found</center>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                {% comment %} {% include"pagination.html" %} {% endcomment %}
                                {% comment %} {% include 'superadmin/supermarket/supermarket_list.html' with page=page data=data %} {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER END -->
    </div>
</div>
<!--app-content close-->
<div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered text-center"
         role="document">
        <div class="modal-content ">
            <div class="modal-body">
                <button aria-label="Close"
                        class="btn-close position-absolute"
                        data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                <input type="hidden" id="hid">
                <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                <button class="btn btn-success" onclick="confirm_delete_supermarket()">Yes</button>
                <button aria-label="Close"
                        class="btn btn-danger pd-x-25"
                        data-bs-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% include 'superadmin/layout/footer.html' %}
