# App Security and debug
SECRET_KEY=#fef(veav8)+w4b0z3yru46oo(#j7u5x+a*i+s)*-xwa8*t
DEBUG=TRUE

# Data Base
USER=admin
NAME="hyovis_main"
PASSWORD="password"
HOST=localhost
PORT=5432

# Email
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER="your email"
EMAIL_HOST_PASSWORD="your pass"
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=no.reply.hyovis@gmail.com
EMAIL_DEBUG=True
