{% load static %}
{% include "public_interface/components/news/news_list.html" %}
{% if has_more %}
    <div class="col-12 text-center mt-40 load-more-container">
        <div class="load-more-content">
            <a class="btn load-more-btn bg-white text-blue rounded-25 btn-icon btn-zoom-hover news-load-more"
               id="loadMore"
               onclick="loadmore(this)"
               data-limit="4"
               data-total="{{ total_count }}"
               data-type="company">
                <span>Load More</span>
                <img src="{% static 'public_interface/images/icons/right-arrow-blue.png' %}"
                     width=""
                     height=""
                     alt="Right Arrow">
            </a>
        </div>
    </div>
{% endif %}
