{% include "public_interface/components/news/event_gallery.html" %}
{% if total > 3 %}
  <div class="col-12 text-center mt-40">
    <a href="#"
       class="btn bg-white text-blue rounded-25 btn-icon btn-zoom-hover btn-more"
       id="loadMoreEvents"
       data-total="{{ total }}"
       data-limit="4"
       onclick="loadmoreEvents(this)">
      <span>Load More</span>
      <img alt="Right Arrow"
           width=""
           height=""
           src="{% static 'public_interface/images/icons/right-arrow-blue.png' %}">
    </a>
  </div>
{% endif %}
