{% comment %} 
{% load static %}
<input type="hidden" id="page" name="page" value="{{page}}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th>product</th>
            <th>name</th>
            <th>location</th>
            <th>email</th>
            <th>mobile</th>
            <th>message</th>
         
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_enquiry %}
        {% for enquiry in all_enquiry %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>
				{% if enquiry.product %}
				{{enquiry.product}}
				{% endif %}
			</td>
            <td>{{enquiry.name}}</td>
            <td>{{enquiry.location}}</td>
            <td>{{enquiry.email}}</td>
            <td>{{enquiry.phone_number}}</td>
            <td>
                <a href="javascript:void(0)" class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#desc{{enquiry.id}}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
            </td>
            
            <td>
                <button type="button" class="btn btn-danger btn-sm mb-1"  ><i class="side-menu__icon fe fe-trash"  onclick="show_modal({{enquiry.id}})"></i></button>

            </td>
        </tr>
        <!-- modal for description-->

        <div class="modal  fade" id="desc{{enquiry.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                <div class="modal-content ">

                    <div class="modal-body">
                        <div>
                            <p>
                            {{enquiry.message}}
                            </p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <tr >
            <td colspan='10'><center>No record found</center></td>
        </tr>
        {% endif %}


    </tbody>
</table>
{% include "pagination.html"%} {% endcomment %}