{% include 'superadmin/layout/header.html' %} {% load static %}
<!-- ROW OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Of All Enquiry</h3>
            </div>
            <div class="card-body">
             <!--search_filter-->
                {% include "search_filter.html" %}   
                <div class="table-responsive" id="enquiry-table">
                    <table class="table border-top table-bordered mb-0 table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>Sl No</th>
                                <th>product</th>
                                <th>name</th>
                                <th>location</th>
                                <th>email</th>
                                <th>mobile</th>
                                <th>message</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if all_enquiry %} {% for enquiry in all_enquiry %}
                            <tr class="text-center">
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    {% if enquiry.product %}{{ enquiry.product }}{% endif %}
                                </td>
                                <td>{{ enquiry.name }}</td>
                                <td>{{ enquiry.location }}</td>
                                <td>{{ enquiry.email }}</td>
                                <td>{{ enquiry.phone_number }}</td>
                                <td>
                                    <a href="javascript:void(0)" class="btn btn-success btn-sm mb-1"
                                        data-bs-toggle="modal" data-bs-target="#desc{{ enquiry.id }}"><i
                                            class="side-menu__icon fe fe-eye mx-1"></i></a>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm mb-1" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal{{ enquiry.id }}">
                                        <i class="side-menu__icon fe fe-trash"></i>
                                    </button>
                                </td>
                            </tr>
                            <!-- modal for description-->
                            <div class="modal fade" id="desc{{ enquiry.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <div>
                                                <p>{{ enquiry.message }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--app-content close-->
                            <div class="modal fade" id="deleteModal{{ enquiry.id }}" tabindex="-1" role="dialog">
                                <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button aria-label="Close" class="btn-close position-absolute"
                                                data-bs-dismiss="modal"></button>
                                            <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                                            <h4 class="text-danger">
                                                Are You Sure Do You Want To Delete ?
                                            </h4>
                                            <p class="mg-b-20 mg-x-20">
                                                Item Will be Deleted Permanently
                                            </p>
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="delete_id" value="{{ enquiry.id }}" />
                                                <button type="submit" class="btn btn-success btn-sm">
                                                    Yes
                                                </button>
                                                <button type="button" class="btn btn-danger pd-x-25 btn-sm"
                                                    data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                            </form>
                                        </div>
                                        <div class="modal-footer"></div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} {% else %}
                            <tr>
                                <td colspan="10">
                                    <center>No record found</center>
                                </td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                    {% if all_enquiry %}
                    <div class="mt-2">{% include "pagination.html" %}</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ROW CLOSED -->
{% include 'superadmin/layout/footer.html' %}