{% load static %}
<div class="map-ksa padd_t_70">
    <div class="wrapper">
        <div class="row text-center">
            <div id="mySlider">
                <div class="card-hover-up">
                    <div class="section-head">
                        <h1 class="font-lnterbold fs-16 mb-30">KINGDOM OF SAUDI ARABIA</h1>
                    </div>
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid m-h-auto-px"
                         src="{% static 'website/assets/public/images/about-page/map/KSA1.png' %}">
                </div>
                <div class="card-hover-up">
                    <div class="section-head mt-50-zero-sm">
                        <h1 class="font-lnterbold fs-16 mb-30">QATAR</h1>
                    </div>
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid m-h-auto-px"
                         src="{% static 'website/assets/public/images/about-page/map/Qatar.png' %}">
                </div>
                <div class="card-hover-up">
                    <div class="section-head mt-50-zero-sm">
                        <h1 class="font-lnterbold fs-16 mb-30">OMAN</h1>
                    </div>
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid m-h-auto-px"
                         src="{% static 'website/assets/public/images/about-page/map/Oman.png' %}">
                </div>
                <div class="card-hover-up">
                    <div class="section-head mt-50-zero-sm">
                        <h1 class="font-lnterbold fs-16 mb-30">INDIA</h1>
                    </div>
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid m-h-auto-px"
                         src="{% static 'website/assets/public/images/about-page/map/India.png' %}">
                </div>
                <div class="card-hover-up">
                    <div class="section-head mt-50-zero-sm">
                        <h1 class="font-lnterbold fs-16 mb-30">UNITED KINGDOM</h1>
                    </div>
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid m-h-auto-px"
                         src="{% static 'website/assets/public/images/about-page/map/uk.png' %}">
                </div>
                <div class="card-hover-up">
                    <div class="section-head mt-50-zero-sm">
                        <h1 class="font-lnterbold fs-16 mb-30">MALDIVES</h1>
                    </div>
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid m-h-auto-px"
                         src="{% static 'website/assets/public/images/about-page/map/mld.png' %}">
                </div>
            </div>
        </div>
    </div>
</div>
