{% load static %}
<div class="history padd_t_70 bg-blue">
    <div class="wrapper">
        <div class="row text-center">
            <div class="col-12">
                <div class="section-head" data-aos="fade-down" data-aos-duration="1000">
                    <h1 class="text-white font-lnterbold">HISTORY</h1>
                    <h5 class="line-height-22 text-m-light-blue pt-10">
                        The Deep Seafood Company was established in 1986 in Abu Dhabi, the capital city of the United Arab Emirates, to sell premium seafood to the local market. It evolved into a seafood processing facility in Ajman, then moved to Dubai, UAQ, and Al Ain before extending to KSA, Oman, Qatar, and India. We have grown significantly and achieved remarkable success in our endeavours.
                    </h5>
                </div>
            </div>
        </div>
        <div class="row text-center pt-50">
            <div class="col-12">
                <div class="slick_history_nav arrows-vector arrows-white ps-50 pe-50"
                     data-aos="fade-up"
                     data-aos-duration="1000">
                    {% for i in history %}
                        <div class="item">
                            <img width=""
                                 height=""
                                 alt=""
                                 src="{% static 'website/assets/public/images/about-page/history/Ship1.png' %}">
                            <img width=""
                                 height=""
                                 alt=""
                                 src="{% static 'website/assets/public/images/about-page/history/Ship2.png' %}">
                            <div class="title font-lnterbold">{{ i.year }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="company pb-40 bg-blue">
    <div class="wrapper">
        <div class="row text-center justify-content-center">
            <div class="col-lg-8">
                <div class="slick_history_for mt-25"
                     data-aos="fade-up"
                     data-aos-duration="1000">
                    {% for i in history %}
                        <div class="item card-hover-up">
                            <div class="section-head" data-aos="fade-up" data-aos-duration="1000">
                                <h1 class="text-white font-lnterbold">{{ i.title }}</h1>
                                <h5 class="line-height-22 text-m-light-blue pt-10">{{ i.description|safe }}</h5>
                            </div>
                            {% if i.history_image %}
                                <div class="position-relative">
                                    <div class="slider_css">
                                        {% for img in i.history_image.all %}
                                            <div class="div-item">
                                                <img width=""
                                                     height=""
                                                     alt=""
                                                     src="{{ img.image.url }}"
                                                     alt="{{ i.image_alt }}">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
