{% load static %}
<div class="our-strength padd_t_b_70">
    <div class="wrapper">
        <div class="row mb-3">
            <div class="col-lg-8">
                <div class="section-head" data-aos="fade-down" data-aos-duration="1000">
                    <h1 class="text-blue font-lnterbold">OUR STRENGTH</h1>
                    <h5 class="text-blue font-lntermedium line-height-22">
                        The Deep Seafood Company was established in1986; starting off with a small idea to supply quality seafood to a few organizations in Abu Dhabi the capital of U.A.E. It went on to be developed into an entire fish processing facility over the years in Ajman, later onto Dubai, UAQ and Al Ain and expanded to KSA, Oman Qatar and India. We have grown by leaps and bounds, and have become extremely successful over the years in our ventures.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row-wrapper position-relative"
         data-aos="fade-up"
         data-aos-duration="1000">
        <div class="row justify-content-md-end justify-content-center ">
            <div class="col-lg-5 col-md-8 text-center">
                <img width=""
                     height=""
                     alt=""
                     class="img-primary rounded-circle"
                     src="{% static 'website/assets/public/images/about-page/our-strength/OUR STRENGTH.jpeg' %}">
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="row card-blue-image">
            <div class="col-lg-3 col-md-6 pt-20"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item card-hover-up">
                    <img width=""
                         height=""
                         alt=""
                         class="img-primary"
                         src="{% static 'website/assets/public/images/about-page/our-strength/strength1.jpg' %}">
                    <div class="info text-center bg-blue text-white">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-20 mt-lg-5"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item card-hover-up">
                    <img width=""
                         height=""
                         alt=""
                         class="img-primary"
                         src="{% static 'website/assets/public/images/about-page/our-strength/strength2.jpeg' %}">
                    <div class="info text-center bg-blue text-white">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-20 mt-lg-5"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item card-hover-up mt-lg-5">
                    <img width=""
                         height=""
                         alt=""
                         class="img-primary"
                         src="{% static 'website/assets/public/images/about-page/our-strength/strength3.jpg' %}">
                    <div class="info text-center bg-blue text-white">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 pt-20-px mt-lg-5 pt-lg-6"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item card-hover-up mt-lg-5">
                    <img width=""
                         height=""
                         alt=""
                         class="img-primary"
                         src="{% static 'website/assets/public/images/about-page/our-strength/strength4.jpg' %}">
                    <div class="info text-center bg-blue text-white">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
