{% load static %}
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © <span id="year"></span> <a href="">The Deep Seafood Admin</a> All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- Display form errors and messages -->
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show m-0 text-center border-0"
             id="success"
             role="alert">
            {{ message }}
            <button type="button"
                    class="btn-close text-dark "
                    data-bs-dismiss="alert"
                    aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}
{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
    </div>
{% endif %}
<!-- FOOTER END -->
<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
            {% include "superadmin/layout/scripts.html" %}

<script>
        // Start upload preview image
        $(".gambar1").attr("src", "https://deepsea.noviindus.in/static/superadmin/images_ex/up.png");
        var $uploadCrop1,
            tempFilename1,
            rawImg1,
            imageId1;

        function readFile1(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo1').addClass('ready');
                    $('#cropImagePop1').modal('show');
                    rawImg1 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop1 = $('#upload-demo1').croppie({
            viewport: {
                width: 300,
                height: 120,
            },
            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop1').on('shown.bs.modal', function () {
           
            $uploadCrop1.croppie('bind', {
                url: rawImg1
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

        $('.item-img1').on('change', function () {
            imageId1 = $(this).data('id');
            tempFilename1 = $(this).val();
            $('#cancelCropBtn1').data('id', imageId1);
            readFile1(this);
        });
        $('#cropImageBtn1').on('click', function (ev) {
            $uploadCrop1.croppie('result', {
                type: 'base64',
                format: 'png',
                size: {
                    width: 300,
                    height: 120
                }
            }).then(function (resp) {
                $('#item-img-output1').attr('src', resp);
				$('#cropped-img').val(resp);
                $('#cropImagePop1').modal('hide');
            });
        });
        // End upload preview image
</script>
<!-- 2 -->
<script>
        // New function for direct image upload without cropping
        function readFileWithoutCrop(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    // Display the uploaded image directly
                    $('#item-img-output2').attr('src', e.target.result);
                    $('#cropped-img').val(e.target.result);  // Store base64 image data if needed
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                alert("Sorry - your browser doesn't support the FileReader API.");
            }
        }
    
        // Add event listener for the specific form's image input
        $('.item-img2').on('change', function () {
            // Call the new function for direct image upload
            readFileWithoutCrop(this);
        });
</script>
<script>
        // Start upload preview image
        $(".gambar2").attr("src", "https://deepsea.noviindus.in/static/superadmin/images_ex/up.png");
        var $uploadCrop2,
            tempFilename2,
            rawImg2,
            imageId2;

        function readFile2(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo2').addClass('ready');
                    $('#cropImagePop2').modal('show');
                    rawImg2 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop2 = $('#upload-demo2').croppie({
            viewport: {
                width: 334,
                height: 300,
            },
            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop2').on('shown.bs.modal', function () {
           
            $uploadCrop2.croppie('bind', {
                url: rawImg2
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

        $('.item-img2').on('change', function () {
            imageId2 = $(this).data('id');
            tempFilename2 = $(this).val();
            $('#cancelCropBtn2').data('id', imageId2);
            readFile2(this);
        });
        $('#cropImageBtn2').on('click', function (ev) {
            $uploadCrop2.croppie('result', {
                type: 'base64',
                format: 'png',
                size: {
                    width: 3340,
                    height: 3000
                }
            }).then(function (resp) {
                $('#item-img-output2').attr('src', resp);
				$('#cropped-img').val(resp);
                $('#cropImagePop2').modal('hide');
            });
        });
        // End upload preview image
</script>
<!-- 3 -->
<script>
        // Start upload preview image
        $(".gambar3").attr("src", "https://deepsea.noviindus.in/static/superadmin/images_ex/up.png");
        var $uploadCrop3,
            tempFilename3,
            rawImg3,
            imageId3;

        function readFile3(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo3').addClass('ready');
                    $('#cropImagePop3').modal('show');
                    rawImg3 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop3 = $('#upload-demo3').croppie({
            viewport: {
                width: 240,
                height: 150,
            },
            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop3').on('shown.bs.modal', function () {
           
            $uploadCrop3.croppie('bind', {
                url: rawImg3
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

        $('.item-img3').on('change', function () {
            imageId3 = $(this).data('id');
            tempFilename3 = $(this).val();
            $('#cancelCropBtn3').data('id', imageId3);
            readFile3(this);
        });
        $('#cropImageBtn3').on('click', function (ev) {
            $uploadCrop3.croppie('result', {
                type: 'base64',
                format: 'png',
                size: {
                    width: 240,
                    height: 150
                }
            }).then(function (resp) {
                $('#item-img-output3').attr('src', resp);
				$('#cropped-img').val(resp);
                $('#cropImagePop3').modal('hide');
            });
        });
        // End upload preview image
</script>
<!-- 4 -->
<script>
        // Start upload preview image
        $(".gambar4").attr("src", "https://deepsea.noviindus.in/static/superadmin/images_ex/up.png");
        var $uploadCrop4,
            tempFilename4,
            rawImg4,
            imageId4;

        function readFile4(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo4').addClass('ready');
                    $('#cropImagePop4').modal('show');
                    rawImg4 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop4 = $('#upload-demo4').croppie({
            viewport: {
                width: 250,
                height: 250,
            },
            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop4').on('shown.bs.modal', function () {
           
            $uploadCrop4.croppie('bind', {
                url: rawImg4
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

        $('.item-img4').on('change', function () {
            imageId4 = $(this).data('id');
            tempFilename4 = $(this).val();
            $('#cancelCropBtn4').data('id', imageId4);
            readFile4(this);
        });
        $('#cropImageBtn4').on('click', function (ev) {
            $uploadCrop4.croppie('result', {
                type: 'base64',
                format: 'png',
                size: {
                    width: 2000,
                    height: 2000
                }
            }).then(function (resp) {
                $('#item-img-output4').attr('src', resp);
				$('#cropped-img').val(resp);
                $('#cropImagePop4').modal('hide');
            });
        });
        // End upload preview image
</script>
<!-- 5 -->
<script>
        // Start upload preview image
        $(".gambar5").attr("src", "https://deepsea.noviindus.in/static/superadmin/images_ex/up.png");
        var $uploadCrop5,
            tempFilename5,
            rawImg5,
            imageId5;

        function readFile5(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo5').addClass('ready');
                    $('#cropImagePop5').modal('show');
                    rawImg5 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop5 = $('#upload-demo5').croppie({
            viewport: {
                width: 80,
                height: 60,
            },
            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop5').on('shown.bs.modal', function () {
           
            $uploadCrop5.croppie('bind', {
                url: rawImg5
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

        $('.item-img5').on('change', function () {
            imageId5 = $(this).data('id');
            tempFilename5 = $(this).val();
            $('#cancelCropBtn5').data('id', imageId5);
            readFile5(this);
        });
        $('#cropImageBtn5').on('click', function (ev) {
            $uploadCrop5.croppie('result', {
                type: 'base64',
                format: 'png',
                size: {
                    width: 80,
                    height: 60
                }
            }).then(function (resp) {
                $('#item-img-output5').attr('src', resp);
				$('#cropped-img').val(resp);
                $('#cropImagePop5').modal('hide');
            });
        });
        // End upload preview image
</script>
<!-- 6 -->
<script>
        // Start upload preview image
        $(".gambar6").attr("src", "https://deepsea.noviindus.in/static/superadmin/images_ex/up.png");
        var $uploadCrop6,
            tempFilename6,
            rawImg6,
            imageId6;

        function readFile6(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('.upload-demo6').addClass('ready');
                    $('#cropImagePop6').modal('show');
                    rawImg6 = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            } else {
                swal("Sorry - you're browser doesn't support the FileReader API");
            }
        }

        $uploadCrop6 = $('#upload-demo6').croppie({
            viewport: {
                width: 80,
                height: 60,
            },
            enforceBoundary: false,
            enableExif: true
        });
        $('#cropImagePop6').on('shown.bs.modal', function () {
           
            $uploadCrop6.croppie('bind', {
                url: rawImg6
            }).then(function () {
                console.log('jQuery bind complete');
            });
        });

        $('.item-img6').on('change', function () {
            imageId6 = $(this).data('id');
            tempFilename6 = $(this).val();
            $('#cancelCropBtn6').data('id', imageId6);
            readFile6(this);
        });
        $('#cropImageBtn6').on('click', function (ev) {
            $uploadCrop6.croppie('result', {
                type: 'base64',
                format: 'png',
                size: {
                    width: 230,
                    height: 270
                }
            }).then(function (resp) {
                $('#item-img-output6').attr('src', resp);
				$('#cropped-img').val(resp);
                $('#cropImagePop6').modal('hide');
            });
        });
        // End upload preview image
</script>
<script>

    function not1() {
        notif({
            msg: "<b>Success:</b> Content Updated Successfully",
            type: "success"
        });
    }

    function not2() {
        notif({
            msg: "<b>Oops!</b> An Error Occurred",
            type: "error",
            position: "center"
        });
    }

    $('.fc-datepicker').datepicker({
        showOtherMonths: false,
        selectOtherMonths: false
    });

</script>
<script>
    $('.multi-field-wrapper').each(function () {
        var $wrapper = $('.multi-fields', this);
        $(".add-field", $(this)).click(function (e) {
            $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find(
                'input, textarea').val('')
                .focus();
        });
        $('.multi-field .remove-field', $wrapper).click(function () {
            if ($('.multi-field', $wrapper).length > 1)
                $(this).parent('.multi-field').remove();
        });
    });
	
	
//restricting user from selecting same category while add/edit product	
	
	<!-- $(document).ready(function () { -->
		<!-- var $wrapper = $('.multi-fields', this); -->
		   <!-- var fieldCounter = 1; -->

		  
		   <!-- $(document).on('change', '.select-drop.cat', function () { -->
			  
			   <!-- var selectedCategory = $(this).val(); -->

			   
			   <!-- if ($('.select-drop.cat').not(this).filter(function () { -->
				   <!-- return $(this).val() === selectedCategory; -->
			   <!-- }).length > 0) { -->
				   
				   <!-- alert('You cannot select the same category again.'); -->
				   
				   <!-- $(this).val(''); -->
			   <!-- } -->
		   <!-- }); -->

		  
		   <!-- $('.add-field').on('click', function () { -->
			  
			   <!-- var newField = $('.multi-field:first').clone(); -->
			   <!-- newField.find('input, select, textarea').val(''); -->
			   <!-- newField.find('.select-drop.cat').attr('id', 'pcategory_' + fieldCounter); -->
			   <!-- newField.find('.form-control').each(function () { -->
				   <!-- var currentId = $(this).attr('id'); -->
				   <!-- $(this).attr('id', currentId.replace(/_\d+$/, '_' + fieldCounter)); -->
			   <!-- }); -->

			   
			   <!-- $('.multi-fields').append(newField); -->

			   
			   <!-- fieldCounter++; -->

			   <!-- $('.multi-field .remove-field', $wrapper).click(function () { -->
					<!-- if ($('.multi-field', $wrapper).length > 1) -->
						<!-- $(this).parent('.multi-field').remove(); -->
				<!-- }); -->
		   <!-- }); -->
		<!-- }); -->

</script>
<script>
    $(document).ready(function () {
      
        $("#multiple").select2({
            placeholder: "Select type",
            allowClear: true
        });
    });
</script>
