{% load static %}
<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-md-12 col-sm-12 text-center">
                Copyright © <span id="year"></span> <a href="">The Deep Seafood Admin</a> All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
{% include "superadmin/layout/scripts.html" %}
<script>

    function not1() {
        notif({
            msg: "<b>Success:</b> Content Updated Successfully",
            type: "success"
        });
    }

    function not2() {
        notif({
            msg: "<b>Oops!</b> An Error Occurred",
            type: "error",
            position: "center"
        });
    }

    $('.fc-datepicker').datepicker({
        showOtherMonths: false,
        selectOtherMonths: false
    });

</script>
<script>
    $('.multi-field-wrapper').each(function () {
        var $wrapper = $('.multi-fields', this);
        $(".add-field", $(this)).click(function (e) {
            $('.multi-field:first-child', $wrapper).clone(true).appendTo($wrapper).find(
                'input, textarea').val('')
                .focus();
        });
        $('.multi-field .remove-field', $wrapper).click(function () {
            if ($('.multi-field', $wrapper).length > 1)
                $(this).parent('.multi-field').remove();
        });
    });
	
	
//restricting user from selecting same category while add/edit product	
	
	<!-- $(document).ready(function () { -->
		<!-- var $wrapper = $('.multi-fields', this); -->
		   <!-- var fieldCounter = 1; -->

		  
		   <!-- $(document).on('change', '.select-drop.cat', function () { -->
			  
			   <!-- var selectedCategory = $(this).val(); -->

			   
			   <!-- if ($('.select-drop.cat').not(this).filter(function () { -->
				   <!-- return $(this).val() === selectedCategory; -->
			   <!-- }).length > 0) { -->
				   
				   <!-- alert('You cannot select the same category again.'); -->
				   
				   <!-- $(this).val(''); -->
			   <!-- } -->
		   <!-- }); -->

		  
		   <!-- $('.add-field').on('click', function () { -->
			  
			   <!-- var newField = $('.multi-field:first').clone(); -->
			   <!-- newField.find('input, select, textarea').val(''); -->
			   <!-- newField.find('.select-drop.cat').attr('id', 'pcategory_' + fieldCounter); -->
			   <!-- newField.find('.form-control').each(function () { -->
				   <!-- var currentId = $(this).attr('id'); -->
				   <!-- $(this).attr('id', currentId.replace(/_\d+$/, '_' + fieldCounter)); -->
			   <!-- }); -->

			   
			   <!-- $('.multi-fields').append(newField); -->

			   
			   <!-- fieldCounter++; -->

			   <!-- $('.multi-field .remove-field', $wrapper).click(function () { -->
					<!-- if ($('.multi-field', $wrapper).length > 1) -->
						<!-- $(this).parent('.multi-field').remove(); -->
				<!-- }); -->
		   <!-- }); -->
		<!-- }); -->

</script>
<script>
    $(document).ready(function () {
      
        $("#multiple").select2({
            placeholder: "Select type",
            allowClear: true
        });
    });
</script>
