{% load static %}
<!-- BOOTSTRAP CSS -->
<link id="style"
      href="{% static 'superadmin/plugins/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet" />
<!-- BOOTSTRAP ICON CSS -->
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<!-- STYLE CSS -->
<link href="{% static 'superadmin/css/style.css' %}" rel="stylesheet" />
<link href="{% static 'superadmin/css/style.css.map ' %}" rel="stylesheet" />
<link href="{% static 'superadmin/css/dark-style.css' %}" rel="stylesheet" />
<link href="{% static 'superadmin/css/transparent-style.css' %}"
      rel="stylesheet" />
<link href="{% static 'superadmin/css/skin-modes.css' %}" rel="stylesheet" />
<link href="{% static 'superadmin/css/style-custom.css' %}"
      rel="stylesheet" />
<!-- FONT ICONS -->
<link href="{% static 'superadmin/css/icons.css' %}" rel="stylesheet" />
<!-- LIGHTBOX CSS -->
<link href="{% static 'superadmin/css/lightbox.min.css' %}"
      rel="stylesheet" />
<!-- COLOR SKIN CSS -->
<link id="theme"
      rel="stylesheet"
      type="text/css"
      href="{% static 'superadmin/colors/color1.css' %}" />
<!-- EXTERNAL CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
      rel="stylesheet" />
<link rel="stylesheet"
      href="https://foliotek.github.io/Croppie/croppie.css">
