{% load static %}
<!-- JQUERY -->
<script src="{% static 'superadmin/js/jquery.min.js' %}"></script>

<!-- jQuery 3.3.1 (REMOVE ONE JQUERY VERSION TO AVOID CONFLICTS) -->
<!-- <script src="{% static 'website/modules/jquery/jquery-3.3.1.min.js' %}"></script> -->

<!-- BOOTSTRAP DEPENDENCIES -->
<script src="{% static 'superadmin/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'superadmin/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- CORE PLUGINS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="{% static 'superadmin/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'superadmin/plugins/multipleselect/multi-select.js' %}"></script>
<script src="{% static 'superadmin/plugins/multipleselect/multiple-select.js' %}"></script>
<script src="{% static 'superadmin/plugins/time-picker/toggles.min.js' %}"></script>
<script src="https://foliotek.github.io/Croppie/croppie.js"></script>

<!-- DATE/TIME PLUGINS -->
<script src="{% static 'superadmin/plugins/bootstrap-daterangepicker/moment.min.js' %}"></script>
<script src="{% static 'superadmin/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
<script src="{% static 'superadmin/plugins/date-picker/jquery-ui.js' %}"></script>
<script src="{% static 'superadmin/plugins/date-picker/date-picker.js' %}"></script>
<script src="{% static 'superadmin/plugins/time-picker/jquery.timepicker.js' %}"></script>

<!-- FORM ELEMENTS -->
<script src="{% static 'superadmin/plugins/input-mask/jquery.maskedinput.js' %}"></script>
<script src="{% static 'superadmin/plugins/fileuploads/js/fileupload.js' %}"></script>
<script src="{% static 'superadmin/plugins/fileuploads/js/file-upload.js' %}"></script>
<script src="{% static 'superadmin/js/form-wizard.js' %}"></script>
<script src="{% static 'superadmin/js/show-password.min.js' %}"></script>

<!-- UI COMPONENTS -->
<script src="{% static 'superadmin/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
<script src="{% static 'superadmin/plugins/flot/jquery.flot.js' %}"></script>
<script src="{% static 'superadmin/plugins/flot/jquery.flot.fillbetween.js' %}"></script>
<script src="{% static 'superadmin/plugins/flot/dashboard.sampledata.js' %}"></script>
<script src="{% static 'superadmin/js/jquery.sparkline.min.js' %}"></script>

<!-- SIDEBAR/MENU -->
<script src="{% static 'superadmin/plugins/sidemenu/sidemenu.js' %}"></script>
<script src="{% static 'superadmin/plugins/sidebar/sidebar.js' %}"></script>

<!-- NOTIFICATIONS -->
<script src="{% static 'superadmin/plugins/notify/js/rainbow.js' %}"></script>
<script src="{% static 'superadmin/plugins/notify/js/notifIt.js' %}"></script>
<script src="{% static 'superadmin/plugins/notify/js/sample.js' %}"></script>

<!-- GALLERY -->
<script src="{% static 'superadmin/plugins/gallery/picturefill.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lightgallery.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lg-pager.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lg-autoplay.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lg-fullscreen.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lg-zoom.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lg-hash.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lg-share.js' %}"></script>
<script src="{% static 'superadmin/plugins/gallery/lightgallery-1.js' %}"></script>

<!-- APPLICATION SCRIPTS -->
<script src="{% static 'superadmin/js/sticky.js' %}"></script>
<script src="{% static 'superadmin/js/themeColors.js' %}"></script>
<script src="{% static 'superadmin/js/lightbox.min.js' %}"></script>

<!-- INITIALIZATION SCRIPTS (LOAD LAST) -->
<script src="{% static 'superadmin/plugins/p-scroll/pscroll.js' %}"></script>
<script src="{% static 'superadmin/plugins/p-scroll/pscroll-1.js' %}"></script>
<script src="{% static 'superadmin/js/select2.js' %}"></script>
<script src="{% static 'superadmin/js/form-elements.js' %}"></script>
<script src="{% static 'superadmin/js/formelementadvnced.js' %}"></script>
<script src="{% static 'superadmin/js/custom.js' %}"></script>
<script src="{% static 'superadmin/js/custom-js-new.js' %}"></script>
<script src="{% static 'superadmin/custom/custom.js' %}"></script>

<!-- EXTERNAL LIBRARIES -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.3/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
