{% load static %}
<div class="main-div pt-0 header-bg-transparent header-logo-lg">
  <header>
    <div class="row">
      <div class="col-md-8 col-4">
        <a class="a-logo" href="{% url 'index' %}">
          <img width=""
               height=""
               alt=""
               class="logo white_logo"
               src="{% static 'website/assets/general/images/logo-white.png' %} ">
          <img width=""
               height=""
               alt=""
               class="logo blue_logo"
               src="{% static 'website/assets/general/images/logo.png' %}">
          <img width=""
               height=""
               alt=""
               class="logo logo-oceano"
               src="{% static 'website/assets/public/images/general/logo-oceano-white.png' %}">
        </a>
      </div>
      <div class="col-md-4 col-8 text-end">
        <div class="d-grid gap-2 d-flex justify-content-end align-items-center">
          <a class="btn bg-blue text-white rounded-25 btn-icon btn-zoom-hover me-2 px-3 py-1 fs-12 cntact-header"
             href="{% url 'contact' %}">Contact Us</a>
          <button class="toggle-sidebar toggle_sidebar" type="button">
            <span class="empty"></span>
            <span class="empty"></span>
            <span class="empty"></span>
          </button>
        </div>
      </div>
    </div>
  </header>
  <a target="_blank"
     href="https://api.whatsapp.com/send?phone=+971564182895&text=Hello,%20Deep Seafood"
     class="whatsapp_sticky">
    <img width=""
         height=""
         alt=""
         class="logo"
         src="{% static 'website/assets/general/images/icons/whatsapp.png' %}">
  </a>
  <!-- sidebar -->
  <div class="sidebar-area toggle_sidebar"></div>
  <div class="sidebar">
    <div class="text-end">
      <button class="toggle-sidebar toggle_sidebar btn-zoom-hover">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
    </div>
    <div class="inner">
      <ul class="nav-list font-lntermedium">
        <div class="row align-items-center">
          <div class="col-sm-5">
            <li>
              <a href="{% url 'index' %}">Home Page</a>
            </li>
            <li>
              <a href="{% url 'about' %}">About us</a>
            </li>
            <li>
              <a href="{% url 'product' %}">Products</a>
            </li>
            <!-- <li> -->
            <!-- <a href="{% url 'brands' %}">Brands</a> -->
            <!-- </li> -->
            <li class="nav-item dropdown nav-br-drop">
              <a class="nav-link dropdown-toggle"
                 href="#"
                 id="navbarDropdown"
                 role="button"
                 data-bs-toggle="dropdown"
                 aria-expanded="false">Brands</a>
              <ul class="dropdown-menu dropdown-menu-end oceano-navbar"
                  aria-labelledby="navbarDropdown">
                <li class="sub-mm">
                  <a class="dropdown-item" href="{% url 'brands' %}">Oceano</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{% url 'distribution' %}">Distribution Channel</a>
            </li>
          </div>
          <div class="col-sm-7">
            <li>
              <a href="{% url 'newsroom' %}">News Room</a>
            </li>
            <li>
              <a href="{% url 'careers' %}">Career</a>
            </li>
            {% if blog %}
              <li>
                <a href="{% url 'blog' %}">Blog</a>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'contact' %}">Contact us</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
