{% load static %}
<link href="{% static 'website/assets/general/fonts/webfonts/airbnbcereal/font-airbnbcereal.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/general/fonts/fontawesome/v4.7/css/font-awesome.min.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/general/modules/bootstrap5/css/bootstrap.min.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/public/modules/aos/aos.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'website/assets/public/modules/animate/animate.min.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'website/assets/general/modules/chosen-select/chosen.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/general/modules/datepicker/jquery-ui.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/general/modules/slick-slider/slick.min.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'website/assets/general/modules/slick-slider/slick-theme.min.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'website/assets/general/modules/slick-slider/custom.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'website/assets/public/fonts/webfonts/lnter/font-lnter.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/general/css/custom.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/public/css/custom.css' %}"
      rel="stylesheet"
      type="text/css">
<link href="{% static 'website/assets/public/css/select2.min.css' %}"
      rel="stylesheet"
      type="text/css">
