{% extends "public_interface/layout/public_base.html" %}
{% load static %}
{% block content %}
  <!-- about -->
  <section id="about" class="pt-0">
    <div class="banner-cover">
      <img width=""
           height=""
           alt=""
           class="img-primary"
           src="{% static 'public_interface/images/about-page/banner-cover/banner-top.jpg' %}">
      <div class="caption w-100 text-center">
        <div class="wrapper">
          <div class="row text-white">
            <div class="col-12" data-aos="fade-down" data-aos-duration="1000">
              <h3 class="font-lnterbold">ABOUT US</h3>
              <h5 class="font-lnterbold">
                <a href="{% url "home" %}">Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a>About</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper padd_t_b_70 indro">
      <div class="row align-items-center">
        <div class="col-lg-6 pe-40-lg-all"
             data-aos="fade-right"
             data-aos-duration="1000">
          <img width=""
               height=""
               alt=""
               class="img-fluid img-indro card-hover-up"
               src="{% static 'public_interface/images/about-page/indro/indro.jpg' %}">
        </div>
        <div class="col-lg-6">
          <div class="section-head" data-aos="fade-left" data-aos-duration="1000">
            <h1 class="text-blue font-lnterbold font-26">
              <span>ABOUT US</span>
            </h1>
            <h5 class="line-height-22 text-blue pt-10 fs-15">
              The Deep Seafood Company welcomes you to take a sneak peek at how we
              provide the best quality seafood products to our clients. Our journey was not simple. It has grown by leaps and bounds and as a team in unison to complete every challenging and impossible objective. Today, we are proud to
              look back on our success. Our clientele has expanded over the years to include a diverse spectrum of people from domestic and international
              markets.
            </h5>
            <h5 class="line-height-22 text-blue pt-15 fs-15 mb-0">
              We, at The Deep Seafood Company, focus on providing our customers with the finest seafood possible with the distinct flavour of the sea. We started off by supplying to a limited number of consumers. Our exceptional services and the premium quality of products we deal with made our fame in the local market, and eventually, it helped us to spread our wings and expand globally. Persistence in the quality of our goods and services, which we provide with utter simplicity, has resulted in a positive relationship with our customers. Our internal operations have flawlessly formed strong bonds with one another and collaborated for the business growth and well-being.
            </h5>
          </div>
        </div>
      </div>
    </div>
    <div class="vision-mission-values bg-blue padd_t_b_70">
      <div class="wrapper">
        <div class="row">
          <div class="col-lg-4 col-md-6 pb-25"
               data-aos="fade-up"
               data-aos-duration="1000">
            <div class="item card-hover-zoom">
              <img width=""
                   height=""
                   alt=""
                   class="img-fluid img-fill"
                   src="{% static 'public_interface/images/about-page/vision-mission-values/1.jpeg' %}">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-25 text-center"
               data-aos="fade-up"
               data-aos-duration="800">
            <div class="item item-text bg-x-light-blue card-hover-zoom">
              <img width=""
                   height=""
                   alt=""
                   class="img-fluid img-icon"
                   src="{% static 'public_interface/images/about-page/vision-mission-values/Vision.png' %}">
              <div class="title text-blue font-lnterbold">OUR VISION</div>
              <div class="dec text-blue">
                We envision being one of the world's top seafood suppliers, and we aspire to be recognised on a global scale for our client loyalty, efficiency, diligence, exceptional service, and product quality.
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-25"
               data-aos="fade-up"
               data-aos-duration="1000">
            <div class="item card-hover-zoom">
              <img width=""
                   height=""
                   alt=""
                   class="img-fluid img-fill"
                   src="{% static 'public_interface/images/about-page/vision-mission-values/2.jpeg' %}">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-25 text-center"
               data-aos="fade-up"
               data-aos-duration="1000">
            <div class="item item-text bg-x-light-blue card-hover-zoom">
              <img width=""
                   height=""
                   alt=""
                   class="img-fluid img-icon"
                   src="{% static 'public_interface/images/about-page/vision-mission-values/Mission.png' %}">
              <div class="title text-blue font-lnterbold">OUR MISSION</div>
              <div class="dec text-blue">
                We are dedicated to giving our clients the greatest seafood products, all of which are of exceptional quality.
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-25"
               data-aos="fade-up"
               data-aos-duration="1700">
            <div class="item card-hover-zoom">
              <img width=""
                   height=""
                   alt=""
                   class="img-fluid img-fill"
                   src="{% static 'public_interface/images/about-page/vision-mission-values/3.jpeg' %}">
            </div>
          </div>
          <div class="col-lg-4 col-md-6 pb-25 text-center"
               data-aos="fade-up"
               data-aos-duration="1000">
            <div class="item item-text bg-x-light-blue card-hover-zoom">
              <img width=""
                   height=""
                   alt=""
                   class="img-fluid img-icon"
                   src="{% static 'public_interface/images/about-page/vision-mission-values/Values.png' %}">
              <div class="title text-blue font-lnterbold">OUR VALUES</div>
              <div class="dec text-blue">
                We focus on sustainability and use ecologically sustainable fishing methods, which means that our emphasis on fish populations will give benefits for years and decades to come.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "public_interface/components/about_strength.html" %}
  </div>
  <div class="history padd_t_70 bg-blue">
    <div class="wrapper">
      <div class="row text-center">
        <div class="col-12">
          <div class="section-head" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="text-white font-lnterbold">HISTORY</h1>
            <h5 class="line-height-22 text-m-light-blue pt-10">
              The Deep Seafood Company was established in 1986 in Abu Dhabi, the capital city of the United Arab Emirates, to sell premium seafood to the local market. It evolved into a seafood processing facility in Ajman, then moved to Dubai, UAQ, and Al Ain before extending to KSA, Oman, Qatar, and India. We have grown significantly and achieved remarkable success in our endeavours.
            </h5>
          </div>
        </div>
      </div>
      <div class="row text-center pt-50">
        <div class="col-12">
          <div class="slick_history_nav arrows-vector arrows-white ps-50 pe-50"
               data-aos="fade-up"
               data-aos-duration="1000">
            {% comment %} {% for i in history %} {% endcomment %}
              <div class="item">
                <img width=""
                     height=""
                     alt=""
                     src="{% static 'public_interface/images/about-page/history/Ship1.png' %}">
                <img width=""
                     height=""
                     alt=""
                     src="{% static 'public_interface/images/about-page/history/Ship2.png' %}">
                <div class="title font-lnterbold">{{ i.year }}</div>
              </div>
            {% comment %} {% endfor %} {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="company pb-40 bg-blue">
    <div class="wrapper">
      <div class="row text-center justify-content-center">
        <div class="col-lg-8">
          <div class="slick_history_for mt-25"
               data-aos="fade-up"
               data-aos-duration="1000">
            {% comment %} {% for i in history %} {% endcomment %}
              <div class="item card-hover-up">
                <div class="section-head" data-aos="fade-up" data-aos-duration="1000">
                  <h1 class="text-white font-lnterbold">{{ i.title }}</h1>
                  <h5 class="line-height-22 text-m-light-blue pt-10">{{ i.description|safe }}</h5>
                </div>
                {% if i.history_image %}
                  <div class="position-relative">
                    <div class="slider_css">
                      {% for img in i.history_image.all %}
                        <div class="div-item">
                          <img width=""
                               height=""
                               alt=""
                               src="{{ img.image.url }}"
                               alt="{{ i.image_alt }}">
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% comment %} {% endfor %} {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include "public_interface/components/about_team_info.html" %}
  {% include "public_interface/components/about_presence.html" %}
  {% include "public_interface/components/about_locations.html" %}
</section>
{% include "public_interface/components/about_enquiry_form.html" %}
{% endblock content %}
