{% include 'public_interface/layout/header.html' %}
{% load static %}

<div class="main-div pt-0 header-bg-transparent header-logo-white">


  <!-- blog -->
  <section id="blog" class="pt-0 pb-0 view-items-page">
    <div class="banner-cover">
      <img width="" height="" alt="" class="img-primary" src="{% static 'public_interface/images/blog/banner-cover/banner-top.jpg' %}">
      <div class="caption w-100 text-center">
        <div class="wrapper">
          <div class="row text-white">
            <div class="col-12" data-aos="fade-down" data-aos-duration="2000">
              <h3 class="font-lnterbold">BLOG</h3>
              <h5 class="font-lnterbold">
                <a href="{% url "home" %}">Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <a href="javascript:void(0)">Blog</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="padd_t_b_70">
      <div class="wrapper">
       <!-- <div class="row"> -->
        <!-- <div class="col-12"> -->
          <!-- <div class="search-form"> -->
            <!-- <form> -->
              <!-- <input class="form-control bg-x-light-blue" type="search" placeholder="Search..." maxlength="200"> -->
              <!-- <button class="btn bg-blue text-white">Search</button> -->
            <!-- </form> -->
          <!-- </div> -->
        <!-- </div> -->
       <!-- </div> -->
       <div class="row ">
        {% for i in blog %}
        <div class="col-lg-4 ">
          <div class="view-section text-blue" data-aos="fade-up" data-aos-duration="2000">
            <div class="title font-lnterbold dfg">{{i.title}}</div>
            <div class="div-col">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <span>{{i.date|date:"M d, Y"}}</span>
            </div>
            <div class="div-col">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              <span>{{i.name|default_if_none:""}}</span>
            </div>
            <div class="text-center mt-30">
              <div class="slick_slider_1 slick-dots-blue mb-0">
                {% for s in i.blog_image.all %}
                <div class="item">
                  <img width="" height="" alt="" class="img-fluid  news-img11" src="{{s.image.url}}" alt="{{i.image_alt}}-{{forloop.counter}}">
                </div>
				{% endfor %}
               
              </div>
            </div>
            <div class="dfg" style="margin-top:10px;" >{{i.description|safe}}</div>
            <a class="btn bg-blue text-white rounded-25 btn-sm mt-15 btn-icon" href="{% url 'blog_details' i.slug %}">
              <span>Read More</span>
              <img width="" height="" alt="" src="{% static 'public_interface/images/icons/right-arrow.png' %}">
            </a>
          </div>
        </div>
		{% endfor %}
        
   
       </div>
      </div>
     </div>
  </section>
  <!-- /blog -->
  
  
</div>
{% include 'public_interface/layout/footer.html' %}

