<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>The Deep Sea Food - Catalog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Catalog of the Deep Sea Food Company - 38 Years of excellence in quality and service">
    <meta name="keywords" content="catalog, thedeepseafood, 38years excellence, best sea food, fresh, quality, service">
    <meta name="author" content="The Deep Sea Food Company">
    <script src="https://players.yumpu.com/hub.js"></script>
    <style>
        /* Ensures the iframe container is responsive and covers full screen */
        .iframe-container {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            /* Full viewport height */
            overflow: hidden;
        }

        /* Styles for the iframe */
        .iframe-container iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
    </style>
</head>

<body>
    <div class="iframe-container" data-page-width="452" data-page-height="640">
        <iframe src="https://www.yumpu.com/en/embed/view/7bNRWhQpTy5nKZMX" allowfullscreen="true"
            allowtransparency="true">
        </iframe>
    </div>
</body>

</html>