{% extends "public_interface/layout/public_base.html" %}
{% load static %}
{% block content %}
  <div class="main-div pt-0 header-bg-transparent header-logo-lg">
    <!-- indro -->
    <section id="indro" class="pt-0 pb-0">
      <div class="wrapper pe-10">
        <div class="expand-btns font-lntermedium gormex_exp">
          <div class="button">
            <span class="icon">
              <i>
                <img width=""
                     height=""
                     alt=""
                     src="{% static 'public_interface/images/general/gl.png' %}"
                     style="width:20px;
                            height:20px">
              </i>
            </span>
            <a class="text" href="https://gourmex.ae/" target="_blank">Gourmex</a>
          </div>
        </div>
        <div class="row h-595-px-lg-all">
          <div class="col-lg-5 position-relative">
            <div class="row">
              <div class="col-lg-11 offset-lg-1">
                <div class="content">
                  <div class="carousel slide" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h2 class="font-lnterextrabold"
                            data-aos="fade-right"
                            data-aos-duration="1500">
                          39 Years of
                          excellence
                          in quality and service
                        </h2>
                      </div>
                      <div class="carousel-item">
                        <h2 class="font-lnterextrabold"
                            data-aos="fade-right"
                            data-aos-duration="1500">
                          Always fresh,
                          Only the best.
                        </h2>
                      </div>
                      <div class="carousel-item">
                        <h2 class="font-lnterextrabold"
                            data-aos="fade-right"
                            data-aos-duration="1500">
                          39 Years of
                          international
                          trade and global success
                        </h2>
                      </div>
                    </div>
                  </div>
                  <a class="btn bg-blue text-white rounded-25 btn-icon btn-zoom-hover"
                     href="{% url "about" %}">
                    <span>Explore More</span>
                    <img width=""
                         height=""
                         alt=""
                         src="{% static 'public_interface/images/icons/right-arrow.png' %} ">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-7 position-relative">
            <div class="slider overflow-hidden">
              <div class="head">
                <div class="title font-lnterbold"
                     data-aos="fade-up"
                     data-aos-duration="500">
                  Catering your seafood needs
                  from the world
                </div>
                <div class="d-flex">
                  <div class="line" data-aos="fade-up" data-aos-duration="500"></div>
                </div>
              </div>
              <div class="slick_slider_4 slick-overflow-initial row"
                   data-aos="fade-up"
                   data-aos-duration="500">
                <div class="item col-md-3 card-hover-zoom">
                  <img width=""
                       height=""
                       alt=""
                       class="img-primary"
                       src="{% static 'public_interface/images/general/local.jpg' %}">
                  <div class="info">
                    <div class="title font-lnterbold">Local Catch</div>
                    <a class="btn bg-blue text-white rounded-25 btn-icon">
                      <span>Know More</span>
                      <img width=""
                           height=""
                           alt=""
                           src="{% static 'public_interface/images/icons/right-arrow.png' %}">
                    </a>
                  </div>
                  <a class="primary-btn" href="?type=Local Catch"></a>
                </div>
                <div class="item col-md-3 card-hover-zoom">
                  <img width=""
                       height=""
                       alt=""
                       class="img-primary"
                       src="{% static 'public_interface/images/general/impoted.jpg' %}">
                  <div class="info">
                    <div class="title font-lnterbold">Imported</div>
                    <a class="btn bg-blue text-white rounded-25 btn-icon">
                      <span>Know More</span>
                      <img width=""
                           height=""
                           alt=""
                           src="{% static 'public_interface/images/icons/right-arrow.png' %}">
                    </a>
                  </div>
                  <a class="primary-btn" href="?type=Imported"></a>
                </div>
                <div class="item col-md-3 card-hover-zoom">
                  <img width=""
                       height=""
                       alt=""
                       class="img-primary"
                       src="{% static 'public_interface/images/general/value.jpg' %}">
                  <div class="info">
                    <div class="title font-lnterbold">Value Added</div>
                    <a class="btn bg-blue text-white rounded-25 btn-icon">
                      <span>Know More</span>
                      <img width=""
                           height=""
                           alt=""
                           src="{% static 'public_interface/images/icons/right-arrow.png' %}">
                    </a>
                  </div>
                  <a class="primary-btn" href="?type=Value Added"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5">
            <div class="position-relative">
              <div class="row bottom-btns">
                <div class="col-xl-6 col-lg-5 hide_mob lap_none">
                  <a class="btn btn-zoom-hover font-lnterbold btn-scroll"
                     href="#section_products">
                    <img width=""
                         height=""
                         alt=""
                         src="{% static 'public_interface/images/icons/scroll.png' %}">
                    <span>SCROLL</span>
                  </a>
                </div>
                <div class="col-xl-6 col-lg-7 ">
                  <button class="btn btn-zoom-hover font-lnterbold btn-video show_file_btn pb-4"
                          type="button"
                          data-file-src="https://www.youtube.com/embed/VQuifNvwfoA">
                    <img width=""
                         height=""
                         alt=""
                         src="{% static 'public_interface/images/icons/video.png' %}">
                    <span class="line"></span>
                    <span>WATCH VIDEO</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="video-container">
        <video class="cover"
               poster="{% static 'public_interface/images/index/indro/poster.gif' %}"
               autoplay
               loop
               muted
               playsinline>
          <source src="{% static 'public_interface/images/index/indro/HEADER_VIDEO.mp4' %}"
                  type="video/mp4">
          <source src="{% static 'public_interface/images/index/indro/HEADER_VIDEO.webm' %}"
                  type="video/webm">
          Your browser does not support the video tag.
        </video>
      </div>
      <a class="box" href="#bott"></a>
      <div class="cover-vertical"></div>
    </section>
    <!-- /indro -->
    {% include "public_interface/components/home_specialities.html" %}
    <!-- innovated -->
    <section id="innovated" class="pt-0-lg-all pb-0-lg-all">
      <div class="wrapper pe-0-lg-all">
        <div class="row align-items-center">
          <div class="col-lg-4 col-12">
            <div class="section-head" data-aos="fade-right" data-aos-duration="500">
              <h1 class="text-white font-lnterbold">INNOVATIVE PRODUCTS AND SERVICES</h1>
              <h5 class="text-white">
                We use premium products and provide the best services in the industry. At all levels
                of the supply chain and through the entire logistics process, we are dedicated to quality and safety and
                follow best industry practices.
                We closely work with our customer's preferences and needs to improve our services.
              </h5>
              <a class="btn bg-blue text-white rounded-25 btn-icon btn-zoom-hover"
                 href="">
                <span>Read More</span>
                <img width=""
                     height=""
                     alt=""
                     src="{% static 'public_interface/images/icons/right-arrow.png' %}">
              </a>
            </div>
          </div>
          <div class="offset-lg-2 col-lg-6 col-12"
               data-aos="fade-left"
               data-aos-duration="500">
            <div class="card-thumbnail">
              <img width=""
                   height=""
                   alt=""
                   class="img-primary"
                   src="{% static 'public_interface/images/general/thumb.png' %}">
              <button class="btn-play show_file_btn"
                      type="button"
                      data-file-src="https://www.youtube.com/embed/VQuifNvwfoA">
                <i class="fa fa-play" aria-hidden="true"></i>
              </button>
              <div class="caption">
                <div class="title font-lntermedium">Watch us.. Know us..</div>
                <div class="dec">A video showcasing our products and services</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "public_interface/components/why_choose_us.html" %}
    <!-- brands_we_deal -->
    {% include "public_interface/components/home_brands.html" %}
    {% include "public_interface/components/home_export_market.html" %}
    {% include "public_interface/components/home_certifications.html" %}
    <!-- testimonials -->
    {% include "public_interface/components/home_testimonials.html" %}
    <div class="expand-btns font-lntermedium">
      <div class="button">
        <span class="icon">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </span>
        <a class="text"
           href="https://www.facebook.com/thedeepseafood"
           target="_blank">Facebook</a>
      </div>
      <div class="button">
        <span class="icon">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </span>
        <a class="text"
           href="https://www.instagram.com/thedeepseafood/"
           target="_blank">Instagram</a>
      </div>
      <div class="button">
        <span class="icon">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </span>
        <a class="text"
           href="https://www.linkedin.com/company/thedeepseafood"
           target="_blank">Linkedin</a>
      </div>
    </div>
  </div>
  <script>
    function animateCount(element, target, duration) {
      $({ count: $(element).text() }).animate(
        { count: target },
        {
          duration: duration,
          step: function () {
            $(element).text(Math.floor(this.count));
          },
          complete: function () {
            $(element).text(target);
          },
        }
      );
    }
    
    function initCounters() {
      $(".animate_count").each(function () {
        var targetValue = $(this).data("number");
        animateCount(this, targetValue, 2000);
      });
    }
    
    // Function to check if the section is intersecting with the viewport
    function isIntersecting(entry) {
      return entry.isIntersecting || entry.intersectionRatio > 0;
    }
    
    // Intersection Observer callback
    function intersectionCallback(entries, observer) {
      entries.forEach((entry) => {
        if (isIntersecting(entry)) {
          // If section is intersecting, initialize counters
          initCounters();
        } else {
          // If section is not intersecting, reset counters
          $(".animate_count").text("0");
        }
      });
    }
    
    // Create an Intersection Observer instance
    const observer = new IntersectionObserver(intersectionCallback);
    
    // Observe the section
    observer.observe(document.getElementById("years_36"));
    
    // Smooth scrolling to the target section when clicking on the "SCROLL" button
    $(".btn-scroll").click(function (e) {
      e.preventDefault();
      var targetSection = $("#section_products");
      $("html, body").animate(
        {
          scrollTop: targetSection.offset().top,
        },
        1000
      ); // You can adjust the duration as needed
    });
    
    // Show video modal when clicking on the "WATCH VIDEO" button
    $(".btn-video").click(function () {
      var videoSrc = $(this).data("file-src");
      showModalWithVideo(videoSrc);
    });
    
    // Function to show a modal with an embedded video
    function showModalWithVideo(videoSrc) {
      // You can implement your modal logic here
      // For example, use a library like Bootstrap modal or create your own modal
      alert("Opening video: " + videoSrc);
    }
    
    
  </script>
{% endblock content %}
