{% include 'superadmin/layout/header.html' %}
{% load static %}
<!-- ROW OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Of All Brand</h3>
            </div>
            <div class="card-body">
                    <div class="row">
                        <!--search_filter.html-->
                        {% include "search_filter.html" %}
                        <div class="table-responsive" id="certification-table">
                            {% include 'superadmin/certification/certification_list.html' %}
                            <div class="modal  fade"
                                 id="deleteModal{{ certification.id }}"
                                 tabindex="-1"
                                 role="dialog"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER END -->
    </div>
{% include 'superadmin/layout/footer.html' %}
