{% comment %} {% load static %}
<input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th>Logo</th>
            <!-- <th>Name</th> -->
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_certification %}
            {% for certification in all_certification %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>
                        {% if certification.image %}
                            <a href="{{ certification.image.url }}" data-lightbox="image-{{ forloop.counter }}">
                                <img src="{{ certification.image.url }}" style="width:90px;">
                            </a>
                        {% endif %}
                    </td>
                    <!-- <td>{{d.name}}</td> -->
                    <td>
                        <div class="material-switch">
                            <input id="someSwitchOptionSuccess{{ certification.id }}"
                                   name="someSwitchOption001"
                                   type="checkbox"
                                   {% if certification.status == True %} onclick="changecertificationstatus({{ certification.id }},0)" checked {% else %}onclick="changecertificationstatus({{ certification.id }},1)" {% endif %} />
                            <label for="someSwitchOptionSuccess{{ certification.id }}" class="label-success"></label>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'certification_update' certification.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"  onclick="show_modal({{ certification.id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include 'pagination.html' %}
</div> {% endcomment %}
