{% include 'superadmin/layout/header.html' %}
{% load static %}
<!-- ROW OPEN -->
<form method="post" enctype="multipart/form-data" id="myform">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-4 col-xl-4 col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Add New Image*( 400 x 400px )</h4>
                </div>
                <div class="card-body">
                    <input type="file"
                           class="dropify"
                           data-bs-height="180"
                           name="image"
                           id="image-upload"
                           {% if certification.image %}data-default-file="{{ certification.image.url }}"{% endif %}
                           {% if not certification.image %}required{% endif %} />
                    <label class="form-label">Image alt</label>
                    {{ form.image_alt }}
                    <div class="form-group col-lg-12 col-12">
                        <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton">Submit</button>
                        <a href="{% url 'list_certification' %}"
                           class="btn btn-danger mt-4 mb-0">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTAINER END -->
    </div>
</form>
<!--app-content close-->
{% include 'superadmin/layout/footer.html' %}
