{% extends "website/layout/public_base.html" %}
{% load static %}
{% block content %}
  <div class="main-div pt-0 header-bg-transparent header-logo-white">
    <section id="distribution" class="pt-0 pb-0">
      <div class="banner-cover">
        <img width=""
             height=""
             alt="Distribution Channel Banner"
             loading="lazy"
             class="img-primary"
             src="{% static 'website/assets/public/images/distribution/banner-cover/Distribution-banner.jpeg' %}">
        <div class="caption w-100 text-center">
          <div class="wrapper">
            <div class="row text-white">
              <div class="col-12" data-aos="fade-down" data-aos-duration="2000">
                <h3 class="font-lnterbold">DISTRIBUTION CHANNEL</h3>
                <h5 class="font-lnterbold">
                  <a href="{% url 'home' %}">Home</a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a>Distribution Channel</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="serve bg-x-light-blue padd_t_b_70">
        <div class="wrapper">
          <div class="row justify-content-center text-center">
            <div class="col-lg-9">
              <div class="section-head" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="text-blue font-lnterbold">WE SERVE TO</h1>
                <h5 class="text-blue text-center">We serve our high-quality products to</h5>
              </div>
            </div>
          </div>
          <div class="row text-center pt-40"
               data-aos="fade-down"
               data-aos-duration="1000">
            <div class="col-12">
              <div class="slick_slider_4 arrows-vector ps-50 pe-50">
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Market Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/1.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">market</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Hotel Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/2.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">Hotel</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Restaurent Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/3.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">restaurant</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Catering Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/4.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">catering</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Horeca Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/Horeca.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">Horeca</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Trading Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/Trading.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">Trading</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Retail Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/Retail.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">Retail</div>
                </div>
                <div class="item">
                  <div class="card-img">
                    <img width=""
                         height=""
                         alt="Exports Image"
                         class="img-fluid"
                         src="{% static 'website/assets/public/images/distribution/serve/icons/export.png' %}">
                  </div>
                  <div class="title text-blue font-lnterbold">Exports</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Import Market -->
    {% include "website/distribution/import_market.html" %}
  </div>
{% endblock content %}
