{% load static custom_filters %}
<section id="export_market" class="bg-section">
    <div class="wrapper">
        <div class="row pt-30">
            <div class="col-lg-3 col-md-4"
                 data-aos="fade-right"
                 data-aos-duration="1000">
                <div class="section-head">
                    <h1 class="text-blue font-lnterbold">IMPORT MARKET</h1>
                    <h5 class="text-blue">Our presence at various countries.</h5>
                </div>
                <table class="text-blue font-lntermedium load_more_item">
                    <tbody>
                        {% with "South America,North America,Asia,Africa,Australia,Europe,Middle East" as regions_list %}
                            {% for region in regions_list|split:"," %}
                                <tr>
                                    <td>
                                        <img width=""
                                             height=""
                                             alt="Location icon for {{ region|title }}"
                                             src="{% static 'website/assets/public/images/icons/location.png' %}">
                                    </td>
                                    <td>{{ region|upper }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn_load and-more text-blue">AND MORE</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-lg-9 col-md-8 mt-50-zero-sm"
                 data-aos="fade-left"
                 data-aos-duration="1000">
                <img width=""
                     height=""
                     loading="lazy"
                     alt="Animated map showing import sources to the UAE of The Deep Seafood Company, with directional arrows highlighting international trade partnerships and supply routes"
                     class="img-fluid"
                     src="{% static 'website/assets/public/images/distribution/export-market/IMPORT-MARKET.gif' %}">
            </div>
        </div>
    </div>
</section>
