{% include 'superadmin/layout/header.html' %}
{% load static %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Product</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'product_add' %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show m-0 text-center"
                     id="success"
                     role="alert"
                     style="border-radius: 0">
                    {{ message }}
                    <button type="button"
                            class="btn-close text-dark "
                            data-bs-dismiss="alert"
                            aria-label="Close">x</button>
                </div>
            {% endfor %}
            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of All Product</h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <!--search filter-->
                                    {% include "search_filter.html" %}
                                    <div class="form-group col-lg-5 col-7">
                                        <span id ="message002" style="color:green;display:none"><b>Homepage Status Updated Successfully</b></span>
                                    </div>
                                </div>
                            </form>
                            <div class="table-responsive" id="product-table">
                                {% load static %}
                                <input type="hidden" id="page" name="page" value="{{ page }}">
                                <table class="table border-top table-bordered mb-0 table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sl No</th>
                                            <th>Sequence</th>
                                            <th>Name</th>
                                            <!-- <th>brand</th> -->
                                            <!-- <th>category</th>
                                            <th>sub category</th> -->
                                            <th>type</th>
                                            <!-- <th>product code</th>
                                            <th>price</th>
                                            <th>net weight</th>
                                            <th>origin</th>
                                            <th>grade</th>
                                            <th>packing</th>
                                            <th>description </th>
                                            <th>ingredients</th>
                                            <th>instruction</th>
                                            <th>storage instruction</th>
                                            <th>causion</th> -->
                                            <th>image</th>
                                            <th>home page</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% if all_products %}
                                            {% for product in all_products %}
                                                <tr>
                                                    <td>{{ forloop.counter }}</td>
                                                    <td>{{ product.sequence }}</td>
                                                    <td>{{ product.name }}</td>
                                                    <td>{{ product.type }}</td>
                                                    <td>
                                                        {% if  product.image %}
                                                            <a href="{{ product.image.url }}"
                                                               data-lightbox="image-{{ forloop.counter }}">
                                                                <img src="{{ product.image.url }}" style="width:90px;">
                                                            </a>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden"  name="homepage_id" value="{{ product.id }}">
                                                            <div class="material-switch">
                                                                <input id="someSwitchOptionSuccess1{{ product.id }}"
                                                                       name="homepage"
                                                                       type="checkbox"
                                                                       {% if  product.homepage %}checked{% endif %}
                                                                       onchange="this.form.submit()">
                                                            </div>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="status_id" value="{{ product.id }}">
                                                            <div class="material-switch">
                                                                <input id="someSwitchOptionSuccess{{ product.id }}"
                                                                       name="status"
                                                                       type="checkbox"
                                                                       {% if  product.status %}checked{% endif %}
                                                                       onchange="this.form.submit()">
                                                            </div>
                                                        </form>
                                                    </td>
                                                    <td>
                                                        <a class="btn btn-info btn-sm mb-1"
                                                           href="{% url 'product_update'  product.id %}?page={{ page }}"><i class="side-menu__icon fe fe-edit"></i></a>
                                                        <button class="btn btn-danger btn-sm mb-1">
                                                            <i class="side-menu__icon fe fe-trash"
                                                               onclick="show_modal({{ product.id }})"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            <tr>
                                                <td colspan='10'>
                                                    <center>No record found</center>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                                {% include "pagination.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ROW CLOSED -->
        </div>
        <!-- CONTAINER END -->
    </div>
</div>
<!--app-content close-->
<div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered text-center"
         role="document">
        <div class="modal-content ">
            <div class="modal-body">
                <button aria-label="Close"
                        class="btn-close position-absolute"
                        data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                <input type="hidden" id="hid">
                <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                <button class="btn btn-success" onclick="confirm_delete_product()">Yes</button>
                <button aria-label="Close"
                        class="btn btn-danger pd-x-25"
                        data-bs-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% include 'superadmin/layout/footer.html' %}
