{% comment %} {% load static %}
<input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Sequence</th>
            <th>Name</th>
            <!-- <th>brand</th> -->
            <!-- <th>category</th>
            <th>sub category</th> -->
            <th>type</th>
            <!-- <th>product code</th>
            <th>price</th>
            <th>net weight</th>
            <th>origin</th>
            <th>grade</th>
            <th>packing</th>
            <th>description </th>
            <th>ingredients</th>
            <th>instruction</th>
            <th>storage instruction</th>
            <th>causion</th> -->
            <th>image</th>
            <th>home page</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_products %}
            {% for product in all_products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.sequence }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.type }}</td>
                    <td>
                        {% if  product.image %}
                            <a href="{{  product.image.url }}" data-lightbox="image-{{ forloop.counter }}">
                                <img src="{{  product.image.url }}" style="width:90px;">
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <form method="post">
                            {% csrf_token%}
                            <input type="hidden" value="{{product.id}}">
                        <div class="material-switch">
                            <input id="someSwitchOptionSuccess1{{  product.id }}"
                                   name="someSwitchOption0011"
                                   type="checkbox"
                                   {% if  product.homepage %}  checked  {% endif %} onchange="this.form.submit()">
                        </div>
                    </form>
                    </td>
                    <td>
                        <form method="post">
                            {% csrf_token%}
                            <input type="hidden" name="homepage_id" value="{{product.id}}">
                        <div class="material-switch">
                            <input id="someSwitchOptionSuccess{{  product.id }}"
                                   name="status"
                                   type="checkbox"
                                   {% if  product.status %} checked {% endif %}  onchange="this.form.submit()">
                        </div>
                    </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'product_update'  product.id %}?page={{ page }}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"  onclick="show_modal({{  product.id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html"%} {% endcomment %}
