{% include "superadmin/layout/header.html" %}
{% load static %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">SEO</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'seo_add' %}"><i class="side-menu__icon fe fe-plus mx-1"></i>Add New</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!--messages-->
            {% include "messages.html" %}
            <!-- ROW OPEN -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List Of All Seo</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <!---search filter-->
                                {% include "search_filter.html" %}
                                <div class="form-group col-lg-5 col-7">
                                    <span id="message001" style="color:green;display:none"><b>Status Updated Successfully</b></span>
                                </div>
                            </div>
                        </form>
                        <div class="table-responsive" id="seo-table">
                            <input type="hidden" id="page" name="page" value="{{ page }}">
                            <table class="table border-top table-bordered mb-0 table-hover">
                                <thead class="text-center">
                                    <tr class="text-center">
                                        <th>Sl No</th>
                                        <th>Page</th>
                                        <th>Meta Title</th>
                                        <th>Meta description</th>
                                        <th>Meta Author</th>
                                        <th>canonical</th>
                                        <!-- <th>Status</th> -->
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="text-center">
                                    {% if all_seo %}
                                        {% for seo in all_seo %}
                                            <tr class="text-center">
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ seo.page_name }}</td>
                                                <td>{{ seo.meta_title }}</td>
                                                <td>{{ seo.meta_description }}</td>
                                                <td>{{ seo.meta_keywords }}</td>
                                                <td>{{ seo.meta_author }}</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm mb-1" href="{% url 'seo_update' seo.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                                                    <button class="btn btn-danger btn-sm mb-1">
                                                        <i class="side-menu__icon fe fe-trash"
                                                           onclick="show_modal({{ seo.id }})"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan='10'>
                                                <center>No record found</center>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                            <br>
                            {% include "pagination.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW CLOSED -->
</div>
<!-- CONTAINER END -->
</div>
{% comment %} </div> {% endcomment %}
<!--app-content close-->
<div class="modal  fade" id="modaldemo5" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-md modal-dialog-centered text-center"
         role="document">
        <div class="modal-content ">
            <div class="modal-body">
                <button aria-label="Close"
                        class="btn-close position-absolute"
                        data-bs-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                <input type="hidden" id="hid">
                <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                <button class="btn btn-success" onclick="confirm_delete_seo()">Yes</button>
                <button aria-label="Close"
                        class="btn btn-danger pd-x-25"
                        data-bs-dismiss="modal">Cancel</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% include "superadmin/layout/footer.html" %}
