{% load static %}
<input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Title</th>
            <th>Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Location</th>
            <th>Image</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if datas %}
            {% for d in datas %}
                <tr>
                    <td>{{ datas.start_index|add:forloop.counter0 }}</td>
                    <td>{{ d.title }}</td>
                    <td>{{ d.name }}</td>
                    <td>{{ d.date|date:"d/m/Y" }}</td>
                    <td>
                        <a href="javascript:void(0)"
                           class="btn btn-success"
                           data-bs-toggle="modal"
                           data-bs-target="#desc{{ d.id }}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
                    </td>
                    <td>{{ d.location }}</td>
                    <td>
                        <a href="javascript:void(0)"
                           class="btn btn-success"
                           data-bs-toggle="modal"
                           data-bs-target="#slider{{ d.id }}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
                    </td>
                    <td>
                        <div class="material-switch">
                            <input id="someSwitchOptionSuccess{{ d.id }}"
                                   name="someSwitchOption001"
                                   type="checkbox"
                                   {% if d.status == True %} onclick="changeblogstatus({{ d.id }},0)" checked {% else %}onclick="changeblogstatus({{ d.id }},1)" {% endif %} />
                            <label for="someSwitchOptionSuccess{{ d.id }}" class="label-success"></label>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1" href="{% url 'blog_update' d.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"  onclick="show_modal({{ d.id }})"></i>
                        </button>
                    </td>
                </tr>
                <!-- modal for description-->
                <div class="modal  fade" id="desc{{ d.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-md modal-dialog-centered text-center"
                         role="document">
                        <div class="modal-content ">
                            <div class="modal-body">
                                <div>
                                    <p>{{ d.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal for slider-->
                <div class="modal  fade" id="slider{{ d.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog modal-md modal-dialog-centered text-center"
                         role="document">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Slider Images</h5>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if d.blog_image.exists %}
                                    {% for slider in d.blog_image.all %}
                                        <a href="{{ slider.image.url }}" data-lightbox="images" data-title="">
                                            <img src="{{ slider.image.url }}" height="100" width="100">
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <p>No slider images available for this event</p>
                                {% endif %}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include 'pagination.html' %}
</div>
