{% include 'superadmin/layout/header.html' %}
{% load static %}
<!--app-content open-->
<div class="main-content app-content mt-0">
    <div class="side-app">
        <!-- CONTAINER -->
        <div class="main-container container-fluid">
            <!-- PAGE-HEADER -->
            <div class="page-header">
                <h1 class="page-title">Blog</h1>
                <div>
                    <a class="btn btn-primary" href="{% url 'blog_view' %}"><i class="side-menu__icon fe fe-eye mx-1"></i>View
                    All</a>
                </div>
            </div>
            <!-- PAGE-HEADER END -->
            <!-- ROW OPEN -->
            <form method="post" enctype="multipart/form-data" id="myform">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-4 col-xl-4 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add New Blog Image</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12 mb-4 mb-lg-0">
                                        <input type="file"
                                               class="dropify"
                                               data-bs-height="180"
                                               multiple
                                               name="files"
                                               {% if not sliders %}required{% endif %}>
                                    </div>
                                </div>
                                {% if sliders %}
                                    <!-- Show existing slider images -->
                                    <div class="existing-slider-images">
                                        {% for slider in sliders %}
                                            <img src="{{ slider.image.url }}"
                                                 alt="Slider Image"
                                                 class="existing-slider-img"
                                                 id="slider{{ slider.id }}" />
                                            <button type="button"
                                                    id="btn-del{{ slider.id }}"
                                                    class="delete-image-btn"
                                                    style="margin-top: 10px;
                                                           background: #0aa3ce;
                                                           color: #fff;
                                                           padding: 4px 26px;
                                                           border: 0px;
                                                           border-radius: 2px"
                                                    data-image-id="{{ slider.id }}">Delete</button>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xl-8 col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row col-lg-12">
                                    <div class="form-group col-lg-6 col-12">
                                        <label for="" class="form-label">Title</label>
                                        <input type="text"
                                               class="form-control"
                                               id=""
                                               placeholder="Name"
                                               name="title"
                                               value="{{ list.title }}"
                                               required>
                                    </div>
                                    <div class="form-group col-lg-6 col-12">
                                        <label for="" class="form-label">Name</label>
                                        <input type="text"
                                               class="form-control"
                                               id=""
                                               placeholder="Name"
                                               name="name"
                                               value="{{ list.name }}"
                                               required>
                                    </div>
                                    <div class="form-group col-lg-6 col-12">
                                        <label for="" class="form-label">Date</label>
                                        <input type="date"
                                               class="form-control"
                                               id=""
                                               placeholder="Name"
                                               name="date"
                                               value="{{ list.date|date:'Y-m-d' }}">
                                    </div>
                                    <div class="form-group col-lg-6 col-12">
                                        <label for="" class="form-label">Location</label>
                                        <input type="text"
                                               class="form-control"
                                               id=""
                                               placeholder="Name"
                                               name="location"
                                               value="{{ list.location }}"
                                               required>
                                    </div>
                                    <div class="col-lg-12 col-12">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1" class="form-label">Description</label>
                                            <textarea id="summernote" name="desc">{{list.description|safe}}</textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h6>SEO section :</h6>
                                        <br>
                                        <div class="form-group col-lg-6 col-12">
                                            <label for="" class="form-label">Title tag</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id=""
                                                   placeholder="Title tag"
                                                   name="title_tag"
                                                   value="{% if list.title_tag %}{{ list.title_tag }}{% endif %}">
                                        </div>
                                        <div class="form-group col-lg-6 col-12">
                                            <label for="" class="form-label">Meta description</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id=""
                                                   placeholder="Meta description"
                                                   name="metatag"
                                                   value="{% if list.metatag %}{{ list.metatag }}{% endif %}">
                                        </div>
                                        <div class="form-group col-lg-6 col-12">
                                            <label for="" class="form-label">Keyword tag</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id=""
                                                   placeholder="Keyword tag"
                                                   name="keyword"
                                                   value="{% if list.keyword %}{{ list.keyword }}{% endif %}">
                                        </div>
                                        <div class="form-group col-lg-6 col-12">
                                            <label for="" class="form-label">Canonical url</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id=""
                                                   placeholder="Canonical url"
                                                   name="canonical"
                                                   value="{% if list.canonical %}{{ list.canonical }}{% endif %}">
                                        </div>
                                        <div class="form-group col-lg-6 col-12">
                                            <label for="" class="form-label">Image Alt</label>
                                            <input type="text"
                                                   class="form-control"
                                                   id=""
                                                   placeholder="Image Alt"
                                                   name="image_alt"
                                                   value="{% if list.image_alt %}{{ list.image_alt }}{% endif %}">
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-12 col-12">
                                        <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton">Submit</button>
                                        <a href="{% url 'blog_view' %}" class="btn btn-danger mt-4 mb-0">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ROW CLOSED -->
                    </div>
                    <!-- CONTAINER END -->
                </div>
            </form>
        </div>
    </div>
    <!--app-content close-->
 
    
    {% include 'superadmin/layout/footer.html' %}
