{% load static %}
{% for g in gallery %}
  {% if not forloop.counter|divisibleby:"2" %}
    <div class="col-12 padd_t_50 row-item news-box">
      <div class="item text-blue">
        <div class="row">
          <div class="col-lg-6 col-item">
            <div class="info">
              <div class="title font-lnterbold">{{ g.title }}</div>
              <div class="dec">{{ g.description|safe }}</div>
              <div class="date">{{ g.date|date:'d/m/Y' }}</div>
              <div class="location">{{ g.location }}</div>
            </div>
          </div>
          <div class="col-lg-6 col-item">
            <div class="slick_slider_1 slick-dots-blue">
              {% for i in g.gallery_image.all %}
                <div class="item">
                  <img class="img-fluid"
                       width=""
                       height=""
                       src="{{ i.image.url }}"
                       alt="{{ g.image_alt }}-{{ forloop.counter }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col-12 padd_t_50 row-item news-box">
      <div class="item text-blue">
        <div class="row">
          <div class="col-lg-5 col-item">
            <div class="info">
              <div class="title font-lnterbold">{{ g.title }}</div>
              <div class="dec">{{ g.description|safe }}</div>
              <div class="date">{{ g.date|date:'d/m/Y' }}</div>
              <div class="location">{{ g.location }}</div>
            </div>
          </div>
          <div class="col-lg-7 col-item">
            <div class="slick_slider_1 slick-dots-blue">
              {% for i in g.gallery_image.all %}
                <div class="item">
                  <img class="img-fluid"
                       width=""
                       height=""
                       src="{{ i.image.url }}"
                       alt="{{ g.image_alt }}-{{ forloop.counter }}">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}
<script>
	$('.slick_slider_1').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  dots: true,
  arrows: false,
  autoplay: true,
  autoplaySpeed: 3000,
  pauseOnFocus: false,
  pauseOnHover: false,
  pauseOnDotsHover: false,
});
</script>
