{% load static %}
{% for event in promotion %}
  <div class="row row-item item pt-20">
    <div class="col-md-6 col-item">
      <div class="slick_slider_1 slick-dots-blue">
        {% for p in event.promo_image.all %}
          <div class="item">
            <img width=""
                 height=""
                 alt="{{ event.title }}"
                 class="img-fluid"
                 src="{{ p.image.url }}">
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-6 col-item text-blue">
      <div class="title font-lnterbold">{{ event.title }}</div>
      <div class="dec">{{ event.description|truncatechars:250 }}</div>
      <div class="date">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        <span>{{ event.date|date:'d/m/Y' }}</span>
      </div>
      <a class="btn bg-blue text-white rounded-25 btn-icon btn-zoom-hover"
         href="{% url 'promotion_details' event.id %}">
        <span>Read More</span>
        <img width=""
             height=""
             alt="Right Arrow"
             src="{% static 'website/assets/public/images/icons/right-arrow.png' %}">
      </a>
    </div>
  </div>
{% endfor %}
