{% load static %}
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th>Sequence No</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_brands %}
            {% for brands in all_brands %}
                <tr class="text-center">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ brands.sequence }}</td>
                    <td>
                        {% if brands.image %}
                            <a href="{{ brands.image.url }}"
                               data-lightbox="logo-{{ forloop.counter }}">
                                <img src="{{ brands.image.url }}" style="width:90px;">
                                <!--remove inline css-->
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ brands.name }}</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="status_id" value="{{ brands.id }}">
                            <div class="material-switch">
                                <input id="someSwitchOptionSuccess{{ brands.id }}"
                                       name="status"
                                       type="checkbox"
                                       {% if brands.status %}checked{% endif %}
                                       onchange="this.form.submit()">
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'brand_update' brands.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"  onclick="show_modal({{ d.id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %}
</div>
