{% load static %}
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th>Sequence No</th>
            <th>Logo</th>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if datas %}
            {% for d in datas %}
                <tr class="text-center">
                    <td>{{ datas.start_index|add:forloop.counter0 }}</td>
                    <td>{{ d.sequence }}</td>
                    <td>
                        {% if d.logo %}
                            <a href="{{ d.logo.url }}" data-lightbox="logo-{{ forloop.counter }}">
                                <img src="{{ d.logo.url }}" style="width:90px;"><!--remove inline css-->
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ d.name }}</td>
                    <td>
                        <div class="material-switch">
                            <input id="someSwitchOptionSuccess{{ d.id }}"
                                   name="someSwitchOption001"
                                   type="checkbox"
                                   {% if d.status == True %} onclick="changebrandstatus({{ d.id }},0)" checked {% else %}onclick="changebrandstatus({{ d.id }},1)" {% endif %} />
                            <label for="someSwitchOptionSuccess{{ d.id }}" class="label-success"></label>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1" href="{% url 'brand_update' d.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"  onclick="show_modal({{ d.id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %}
</div>
