{% load static %}
<section id="export_market" class="bg-section">
    <div class="wrapper">
        <div class="row pt-30">
            <div class="col-lg-3 col-md-4"
                 data-aos="fade-right"
                 data-aos-duration="500">
                <div class="section-head">
                    <h1 class="text-blue font-lnterbold">EXPORT MARKET</h1>
                    <h5 class="text-blue">Our presence at various countries.</h5>
                </div>
                <table class="text-blue font-lntermedium load_more_item">
                    <tbody>
                        <tr>
                            <td class="pt-2">
                                <img width=""
                                     height=""
                                     alt=""
                                     src="{% static 'website/assets/public/images/icons/location.png' %}">
                            </td>
                            <td class="pt-2">North America</td>
                        </tr>
                        <tr>
                            <td>
                                <img width=""
                                     height=""
                                     alt=""
                                     src="{% static 'website/assets/public/images/icons/location.png' %}">
                            </td>
                            <td>ASIA</td>
                        </tr>
                        <tr>
                            <td>
                                <img width=""
                                     height=""
                                     alt=""
                                     src="{% static 'website/assets/public/images/icons/location.png' %}">
                            </td>
                            <td>AFRICA</td>
                        </tr>
                        <tr>
                            <td>
                                <img width=""
                                     height=""
                                     alt=""
                                     src="{% static 'website/assets/public/images/icons/location.png' %}">
                            </td>
                            <td>AUSTRALIA</td>
                        </tr>
                        <tr>
                            <td>
                                <img width=""
                                     height=""
                                     alt=""
                                     src="{% static 'website/assets/public/images/icons/location.png' %}">
                            </td>
                            <td>Europe</td>
                        </tr>
                        <tr>
                            <td>
                                <img width=""
                                     height=""
                                     alt=""
                                     src="{% static 'website/assets/public/images/icons/location.png' %}">
                            </td>
                            <td>MIDDLE EAST</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn_load and-more text-blue">AND MORE</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-lg-9 col-md-8 mt-50-zero-sm"
                 data-aos="fade-left"
                 data-aos-duration="500">
                <img width=""
                     height=""
                     alt=""
                     class="img-fluid"
                     src="{% static 'website/assets/public/images/index/export-market/EXPORT-MARKET.gif' %}">
            </div>
        </div>
    </div>
</section>
