<section id="section_products bott" class="bg-x-light-blue pb-50">
    <div class="arrowbounce">
        <div class="animarea">
            <a class="aroow_bt" href="#ew"></a>
        </div>
    </div>
    <div class="wrapper pt-20" id="ew">
        <div class="row">
            <div class="col-12">
                <div class="section-head text-center"
                     data-aos="fade-up"
                     data-aos-duration="1500">
                    <h1 class="text-blue font-lnterbold res-mt">OUR SPECIALITIES</h1>
                    <p class="text-blue">
                        As fresh live seafood suppliers in Dubai, we offer a full range
                        of directly sourced European seafood, authentic Japanese seafood and frozen
                        seafood all over Middle East
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pt-25 res-pt-15">
                <div class="position-relative">
                    <ul class="nav nav-tabs nav-tabs-bg border-0 justify-content-center"
                        data-aos="fade-up"
                        data-aos-duration="1500">
                        <li class="nav-item">
                            <a class="nav-link active ALLCAT" onclick="get_product_list('All',this)">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  ALLCAT"
                               onclick="get_product_list('Local Catch',this)">Local Catch</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link CATSELE" onclick="get_product_list('Imported',this)">Imported</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link CATSELE"
                               onclick="get_product_list('Value Added',this)">Value Added</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content pt-md-30">
                    <div class="tab-pane fade show active"
                         data-aos="fade-up"
                         data-aos-duration="1500">
                        <div class="row card-white-image APPENDPRO" id="index_product">{% include "website/index/product_list.html" %}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
