{% load static %}
<section id="why_choose" class="pt-0 pb-0-lg-all web-whychoose">
    <div class="wrapper wrapper-img ps-0-lg-all">
        <div class="row" data-aos="fade-left" data-aos-duration="2000">
            <div class="col-lg-5 col-12 bg-transparent-zero-md text-lg-start text-center mt-auto mb-auto">
                <div class="wrapper pe-0-lg-all position-relative h-100 mt-4 mt-lg-0"
                     data-aos="fade-up"
                     data-aos-duration="500">
                    <div class="section-circle position-relative m-auto">
                        <div class="section-head p-3 text-white">
                            <h1 class="font-lnterbold">WHY</h1>
                            <h4 class="font-lntersemibold">CHOOSE US?</h4>
                            <h5>
                                We aspire to deliver the unique taste of the sea and focus on delivering the best seafood to our
                                customers.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12 pb-50">
                <div class="row text-center">
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Consistent.png' %}">
                            <div class="title font-lnterbold">CONSISTENT QUALITY</div>
                            <div class="dec">
                                Our products are made following international standards, and our facilities have FSSC
                                22000, ISO 14001, HACCP, BRC, HALAL, EU, and USFDA certifications.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Reliable.png' %}">
                            <div class="title font-lnterbold">RELIABLE</div>
                            <div class="dec">
                                We've been in the industry for over three decades, supplying the market with the
                                highest quality seafood. We have an edge due to our experience handling and processing seafood.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Seafresh.png' %}">
                            <div class="title font-lnterbold">SEA & FARM</div>
                            <div class="dec">
                                We provide our consumers with a diverse choice of items to meet their needs, whether
                                they are wild-caught or farmed.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Long.png' %}">
                            <div class="title font-lnterbold">LONG-STANDING BRAND</div>
                            <div class="dec">
                                Our company has been in business for more than 38 years, and we have professionals at every
                                stage of the process. Our knowledge and expertise are expertly handled to provide you with the best
                                service possible.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Plentiful.png' %}">
                            <div class="title font-lnterbold">RESOURCEFUL</div>
                            <div class="dec">
                                With our extensive global sourcing capabilities, we try to organise the highest-quality
                                items following the criteria demanded by prestigious clients. In terms of local items, we have a
                                strong procurement staff in all emirates across the UAE that works seamlessly to arrange the best
                                quality and needed quantities for every customer.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Global.png' %}">
                            <div class="title font-lnterbold">GLOBAL FREE TRADE PLAYER</div>
                            <div class="dec">
                                We are utilising the free trade agreement as well as Vietnam's globalisation policy to
                                provide the most competitive price to the consumer.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- why_choose responsive -->
<section id="why_choose" class="pt-0 pb-0-lg-all rs-whychoose">
    <div class="wrapper wrapper-img width="" height="" alt="" ps-0-lg-all">
        <div class="row" data-aos="fade-left" data-aos-duration="2000">
            <div class="col-lg-5 col-12 bg-transparent-zero-md text-lg-start text-center mt-auto mb-auto">
                <div class="wrapper pe-0-lg-all position-relative h-100 mt-4 mt-lg-0"
                     data-aos="fade-up"
                     data-aos-duration="500">
                    <div class="section-circle position-relative m-auto">
                        <div class="section-head p-3 text-white">
                            <h1 class="font-lnterbold">WHY</h1>
                            <h4 class="font-lntersemibold">CHOOSE US?</h4>
                            <h5>
                                We aspire to deliver the unique taste of the sea and focus on delivering the best seafood to our
                                customers.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-12 pb-50">
                <div class="row text-center" id="why-slider">
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Consistent.png' %}">
                            <div class="title font-lnterbold">CONSISTENT QUALITY</div>
                            <div class="dec">
                                Our products are made following international standards, and our facilities have FSSC
                                22000, ISO 14001, HACCP, BRC, HALAL, EU, and USFDA certifications.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Reliable.png' %}">
                            <div class="title font-lnterbold">RELIABLE</div>
                            <div class="dec">
                                We've been in the industry for over three decades, supplying the market with the
                                highest quality seafood. We have an edge due to our experience handling and processing seafood.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Seafresh.png' %}">
                            <div class="title font-lnterbold">SEA & FARM</div>
                            <div class="dec">
                                We provide our consumers with a diverse choice of items to meet their needs, whether
                                they are wild-caught or farmed.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Long.png' %}">
                            <div class="title font-lnterbold">LONG-STANDING BRAND</div>
                            <div class="dec">
                                Our company has been in business for more than , and we have professionals at every
                                stage of the process. Our knowledge and expertise are expertly handled to provide you with the best
                                service possible.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Plentiful.png' %}">
                            <div class="title font-lnterbold">RESOURCEFUL</div>
                            <div class="dec">
                                With our extensive global sourcing capabilities, we try to organise the highest-quality
                                items following the criteria demanded by prestigious clients. In terms of local items, we have a
                                strong procurement staff in all emirates across the UAE that works seamlessly to arrange the best
                                quality and needed quantities for every customer.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 pt-50 wow fadeInUp wow_item">
                        <div class="item card-hover-zoom">
                            <img width=""
                                 height=""
                                 alt=""
                                 class="img-primary"
                                 src="{% static 'website/assets/public/images/index/why-choose/Global.png' %}">
                            <div class="title font-lnterbold">GLOBAL FREE TRADE PLAYER</div>
                            <div class="dec">
                                We are utilising the free trade agreement as well as Vietnam's globalisation policy to
                                provide the most competitive price to the consumer.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
