{% include "superadmin/layout/header.html" %}
{% load static %}
<style>
    .select-drop{
        width: 100%;
        display: block;
        width: 100%;
        padding: 0.475rem 0.75rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        color: #4d5875;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #e9edf4;
        border-radius: 7px;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .select-drop:focus-visible{
        outline: none !important;
    }
    .check-flex{
        display: flex;
        flex-wrap: wrap;
    }
    .sub-l{
        cursor: pointer;
    }
</style>
<form method="post" id="myform">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-8 col-xl-8 col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row col-lg-12">
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Product</label>
                            {{ form.product }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Category*</label>
                            {{ form.category }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Sub Category</label>
                            {{ form.sub_categories }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Product Code</label>
                            {{ form.product_code }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Net Weight</label>
                            {{ form.net_weight }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Price</label>
                            {{ form.price }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Origin</label>
                            {{ form.origin }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Grade</label>
                            {{ form.grade }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Packing</label>
                            {{ form.packing }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Ingredients</label>
                            {{ form.ingredients }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Instructions</label>
                            {{ form.instructions }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Shelf Life</label>
                            {{ form.shelf_life }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Storage Instructions</label>
                            {{ form.storage_instructions }}
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <label class="form-label">Allergic</label>
                            {{ form.allergic }}
                        </div>
                        <div class="form-group col-lg-12 col-12">
                            <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton">Submit</button>
                            <a href="{% url 'product_details_view' %}"
                               class="btn btn-danger mt-4 mb-0">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% include "superadmin/layout/footer.html" %}
