{% load static %}
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th class="psticky">Product</th>
            <!-- <th>brand</th> -->
            <th>category</th>
            <th>sub category</th>
            <!-- <th>type</th> -->
            <th>product code</th>
            <th>price</th>
            <th>net weight</th>
            <th>origin</th>
            <th>grade</th>
            <th>packing</th>
            <th>ingredients</th>
            <th>instruction</th>
            <th>storage instruction</th>
            <th>causion</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if products_details %}
            {% for product in products_details %}
                <tr class="text-center">
                    <td>{{ forloop.counter }}</td>
                    <td class="psticky">{{ product.product.name }}</td>
                    <!-- <td>{{d.brand}}</td> -->
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#category{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#subcategory{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <!-- <td>{{d.type}}</td> -->
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#code{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#price{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#net{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#origin{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#grade{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#packing{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#ingredients{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#instruction{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#storage{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <a class="btn btn-success btn-sm mb-1"
                           href="#"
                           data-bs-toggle="modal"
                           data-bs-target="#causion{{ product.id }}"><i class="side-menu__icon fe fe-eye"></i></a>
                    </td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="status_id" value="{{ product.id }}">
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       type="checkbox"
                                       id="customSwitch1"
                                       name="status"
                                       {% if product.status %}checked{% endif %}
                                       onchange="this.form.submit()">
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'product_details_update' product.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button type="button"
                                class="btn btn-danger btn-sm mb-1"
                                data-bs-toggle="modal"
                                data-bs-target="#deleteModal{{ product.id }}">
                            <i class="side-menu__icon fe fe-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- category -->
                <div class="modal  fade"
                     id="category{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.category }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sub category -->
                <div class="modal  fade"
                     id="subcategory{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.sub_categories }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- code -->
                <div class="modal  fade"
                     id="code{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.product_code }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- price -->
                <div class="modal  fade"
                     id="price{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- net -->
                <div class="modal  fade"
                     id="net{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.net_weight }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- origin -->
                <div class="modal  fade"
                     id="origin{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.origin }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- causion -->
                <div class="modal  fade"
                     id="causion{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.allergic }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- grade -->
                <div class="modal  fade"
                     id="grade{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.grade }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- packing -->
                <div class="modal  fade"
                     id="packing{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.packing }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ingredients -->
                <div class="modal  fade"
                     id="ingredients{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.ingredients }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- instruction -->
                <div class="modal  fade"
                     id="instruction{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.instructions }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- storage -->
                <div class="modal  fade"
                     id="storage{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-body">
                                <p class="text-center">{{ product.storage_instructions }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--delete modal-->
                <div class="modal  fade"
                     id="deleteModal{{ product.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-md modal-dialog-centered text-center"
                         role="document">
                        <div class="modal-content ">
                            <div class="modal-body">
                                <button aria-label="Close"
                                        class="btn-close position-absolute"
                                        data-bs-dismiss="modal">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                                <input type="hidden" id="hid">
                                <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                                <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                                <form method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_id" value="{{ product.id }}">
                                    <button type="submit" class="btn btn-success btn-sm">Yes</button>
                                    <button type="button"
                                            class="btn btn-danger pd-x-25 btn-sm"
                                            data-bs-dismiss="modal">Cancel</button>
                                </form>
                            </div>
                            <div class="modal-footer"></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <tr class="text-center">
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% if products_details %}
    <div class="mt-4">{% include "pagination.html" %}</div>
{% endif %}
