{% load static %}
<div class="presence padd_t_b_70">
    <div class="wrapper">
        <div class="row text-center">
            <div class="col-12">
                <div class="section-head">
                    <h1 class="text-blue font-lnterbold">OUR PRESENCE</h1>
                </div>
            </div>
        </div>
        <div class="row text-center" data-aos="fade-up" data-aos-duration="1000">
            <div class="col-12">
                <div class="slick_slider_presence arrows-vector arrows-vector-bg ps-50 pe-50">
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from KSA"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/KSA.jpg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of KSA"
                                     src="{% static 'public_interface/images/about-page/presence/Flag_KSA.jpg' %}">
                                <div class="name font-lnterbold">KSA</div>
                            </div>
                            <a class="text-blue font-lntermedium" href="mailto:Info@royalfutute.sa">Info@royalfuture.sa</a>
                            <a class="text-blue font-lntermedium" href="tel:+966138112621">+966138112621</a>
                        </div>
                    </div>
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from UAE"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/uae.jpeg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of UAE"
                                     src="{% static 'public_interface/images/about-page/presence/flag-UAE.png' %}">
                                <div class="name font-lnterbold">UAE</div>
                            </div>
                            <a class="text-blue font-lntermedium" href="mailto:contact@demo.com">info@thedeepseafood.com</a>
                            <a class="text-blue font-lntermedium" href="tel:+971 26733445">+971 26733445</a>
                            <a class="text-blue font-lntermedium" href="tel:+971 42844227">+971 42844227</a>
                        </div>
                    </div>
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from Oman"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/oman.jpeg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of Oman"
                                     src="{% static 'public_interface/images/about-page/presence/Flag_Oman.jpg' %}">
                                <div class="name font-lnterbold">Oman</div>
                            </div>
                            <a class="text-blue font-lntermedium"
                               href="mailto:info@amwajfisheries.com">info@amwajfisheries.com</a>
                            <a class="text-blue font-lntermedium" href="tel:+968 95468808">+968 95468808</a>
                        </div>
                    </div>
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from Qatar"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/qatar.jpg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of Qatar"
                                     src="{% static 'public_interface/images/about-page/presence/Flag_Qatar.jpg' %}">
                                <div class="name font-lnterbold">QATAR</div>
                            </div>
                            <a class="text-blue font-lntermedium"
                               href="mailto:sales.qatar@thedeepseafood.com">sales.qatar@thedeepseafood.com</a>
                            <a class="text-blue font-lntermedium" href="tel:+974 33488777">+974 33488777</a>
                        </div>
                    </div>
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from India"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/Inida.jpg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of India"
                                     src="{% static 'public_interface/images/about-page/presence/Flag_India.jpg' %}">
                                <div class="name font-lnterbold">INDIA</div>
                            </div>
                            <a class="text-blue font-lntermedium"
                               href="mailto:info@thedeepseafood.com">info@thedeepseafood.com</a>
                            <a class="text-blue font-lntermedium" href="tel:+91 484 3534054">+91 484 3534054</a>
                        </div>
                    </div>
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from Maldives"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/Maldives.jpg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of Maldives"
                                     src="{% static 'public_interface/images/about-page/presence/Flag_Maldives.png' %}">
                                <div class="name font-lnterbold">Maldives</div>
                            </div>
                            <a class="text-blue font-lntermedium"
                               href="mailto:info@thedeepseafood.com">info@thedeepseafood.com</a>
                            <a class="text-blue font-lntermedium" href="tel:+9609100091">+9609100091</a>
                        </div>
                    </div>
                    <div class="item card-hover-up">
                        <img width=""
                             height=""
                             alt="Scenary from UK"
                             class="img-primary"
                             src="{% static 'public_interface/images/about-page/presence/uk.jpg' %}">
                        <div class="info text-blue">
                            <div class="country">
                                <img width=""
                                     height=""
                                     alt="Flag of UK"
                                     src="{% static 'public_interface/images/about-page/presence/Flag_uk.svg' %}">
                                <div class="name font-lnterbold">UK</div>
                            </div>
                            <a class="text-blue font-lntermedium"
                               href="mailto:info@thedeepseafood.com">info@thedeepseafood.com</a>
                            <a class="text-blue font-lntermedium" href="tel:+447500896643">+44 7500 896643</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
