{% load static %}
<div class="vision-mission-values bg-blue padd_t_b_70">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-4 col-md-6 pb-25"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item card-hover-zoom">
                    <img width=""
                         height=""
                         alt="Mission Image"
                         class="img-fluid img-fill"
                         src="{% static 'public_interface/images/about-page/vision-mission-values/1.jpeg' %}">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-25 text-center"
                 data-aos="fade-up"
                 data-aos-duration="800">
                <div class="item item-text bg-x-light-blue card-hover-zoom">
                    <img width=""
                         height=""
                         alt="Vision Image"
                         class="img-fluid img-icon"
                         src="{% static 'public_interface/images/about-page/vision-mission-values/Vision.png' %}">
                    <div class="title text-blue font-lnterbold">OUR VISION</div>
                    <div class="dec text-blue">
                        We envision being one of the world's top seafood suppliers, and we aspire to be recognised on a global scale for our client loyalty, efficiency, diligence, exceptional service, and product quality.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-25"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item card-hover-zoom">
                    <img width=""
                         height=""
                         alt=""
                         class="img-fluid img-fill"
                         src="{% static 'public_interface/images/about-page/vision-mission-values/2.jpeg' %}">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-25 text-center"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item item-text bg-x-light-blue card-hover-zoom">
                    <img width=""
                         height=""
                         alt="Mission Image"
                         class="img-fluid img-icon"
                         src="{% static 'public_interface/images/about-page/vision-mission-values/Mission.png' %}">
                    <div class="title text-blue font-lnterbold">OUR MISSION</div>
                    <div class="dec text-blue">
                        We are dedicated to giving our clients the greatest seafood products, all of which are of exceptional quality.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-25"
                 data-aos="fade-up"
                 data-aos-duration="1700">
                <div class="item card-hover-zoom">
                    <img width=""
                         height=""
                         alt="Vision Image"
                         class="img-fluid img-fill"
                         src="{% static 'public_interface/images/about-page/vision-mission-values/3.jpeg' %}">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pb-25 text-center"
                 data-aos="fade-up"
                 data-aos-duration="1000">
                <div class="item item-text bg-x-light-blue card-hover-zoom">
                    <img width=""
                         height=""
                         alt="Values Image"
                         class="img-fluid img-icon"
                         src="{% static 'public_interface/images/about-page/vision-mission-values/Values.png' %}">
                    <div class="title text-blue font-lnterbold">OUR VALUES</div>
                    <div class="dec text-blue">
                        We focus on sustainability and use ecologically sustainable fishing methods, which means that our emphasis on fish populations will give benefits for years and decades to come.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
