{% comment %} {% load static %}
<input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <!-- <th>Category</th> -->
            <th>Title</th>
            <th>Job Type</th>
            <th>Location</th>
            <th>Salary</th>
            <th>DESCRIPTION</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_vacancy %}
            {% for vacancy in all_vacancy %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <!-- <td>{{d.category}}</td> -->
                    <td>{{ vacancy.title }}</td>
                    <td>{{ vacancy.type }}</td>
                    <td>{{ vacancy.location }}</td>
                    <td>{{ vacancy.salary }}</td>
                    <td>
                        <a href="javascript:void(0)"
                           class="btn btn-success btn-sm mb-1"
                           data-bs-toggle="modal"
                           data-bs-target="#desc{{ vacancy.id }}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
                    </td>
                    <td>
                        <form method ="post">
                            {% csrf_token %}
                            <input type="hidden" name="status_id" value="{{ vacancy.id }}">
                            <div class="material-switch">
                                <input id="someSwitchOptionSuccess{{ d.id }}"
                                       name="status"
                                       type="checkbox"
                                       {% if vacancy.status %}checked{% endif %}
                                       onchange="this.form.submit()">
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'career_update' vacancy.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"
                               onclick="show_modal({{ vacancy.id }})"></i>
                        </button>
                    </td>
                </tr>
                <!-- modal for description-->
                <div class="modal  fade"
                     id="desc{{ vacancy.id }}"
                     tabindex="-1"
                     role="dialog">
                    <div class="modal-dialog modal-md modal-dialog-centered text-center"
                         role="document">
                        <div class="modal-content ">
                            <div class="modal-body">
                                <div>
                                    <p>{{ vacancy.description|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %} {% endcomment %}
