{% extends "website/layout/public_base.html" %}
{% load static %}
{% block content %}
  <div class="main-div pt-0 header-bg-transparent header-logo-white">
    <section id="promotion-view" class="pt-0 pb-0 view-items-page">
      <div class="banner-cover">
        <img class="img-primary"
             width=""
             height=""
             alt="Promotion Banner"
             loading="lazy"
             src="{% static 'website/assets/public/images/promotion-view/banner-cover/banner-top.jpg' %}">
        <div class="caption w-100 text-center">
          <div class="wrapper">
            <div class="row text-white">
              <div class="col-12" data-aos="fade-down" data-aos-duration="2000">
                <h3 class="font-lnterbold">PROMOTION INFORMATION</h3>
                <h5 class="font-lnterbold">
                  <a href="{% url 'index' %}">Home</a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a href="{% url 'newsroom' %}">News Room</a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a>Promotion Information</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-70 pb-70">
        <div class="wrapper">
          <div class="row">
            <div class="col-lg-3 col-md-3 order-2-zero-sm mt-50-zero-sm">
              <div class="search-form">
                <form>
                  <input class="form-control bg-x-light-blue"
                         name="search"
                         type="search"
                         placeholder="Search..."
                         maxlength="200"
                         id="myInput">
                  <button type="button" class="btn bg-blue text-white">Search</button>
                </form>
              </div>
              <div class="right-item">
                <h4 class="font-lnterbold text-blue">UPCOMING PROMOTIONS</h4>
                {% for d in data %}
                  <a href="{% url 'promotion_details' d.id %}"
                     class="text-decoration-none">
                    <div class="item border-b wow fadeInUp wow_item promotion-item">
                      <div class="row align-items-center">
                        <p class="d-none">{{ d.title }}</p>
                        <div class="col-3">
                          <img class="img-fluid"
                               width=""
                               height=""
                               alt=""
                               src="{% if d.promo_image %}{{ d.promo_image.first.image.url }}{% endif %}">
                        </div>
                        <div class="col-9 ps-0">
                          <div class="tilte text-blue">{{ d.description|truncatechars:50 }}</div>
                        </div>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
            <div class="col-lg-8 offset-lg-1 col-md-9 order-1-zero-sm">
              <div class="view-section text-blue"
                   data-aos="fade-up"
                   data-aos-duration="2000">
                <div class="title font-lnterbold">{{ promotion.title }}</div>
                <div class="div-col">
                  <i class="fa fa-clock-o" aria-hidden="true"></i>
                  <span>{{ promotion.date|date:'d/m/Y' }}</span>
                </div>
                <div class="div-col">
                  <i class="fa fa-user-o" aria-hidden="true"></i>
                  <span>{{ promotion.name }}</span>
                </div>
                <div class="bg-blue text-center p-30 pb-50 mt-30">
                  <div class="slick_slider_1 slick-dots-white mb-0">
                    {% for s in promotion.promo_image.all %}
                      <div class="item">
                        <img width="" height="" alt="" class="img-fluid" src="{{ s.image.url }}">
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <h5>{{ promotion.description|safe }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}
