{% load static %}
<div class="main-div pt-0 header-bg-transparent header-logo-lg">
  <header>
    <div class="header-container">
      <div class="row">
        <div class="col-md-7 col-4 px-5">
          <a class="a-logo" href="{% url "home" %}">
            <img class="logo white_logo"
                 width=""
                 height=""
                 src="{% static 'public_interface/images/general/logo-white.png' %}"
                 alt="Logo">
            <img class="logo blue_logo"
                 width=""
                 height=""
                 src="{% static 'public_interface/images/general/logo.png' %}"
                 alt="Logo">
          </a>
        </div>
        <div class="col-md-5 col-8 text-end">
          <div class="d-grid gap-2 d-flex justify-content-end align-items-center mx-5">
            <a class="btn bg-blue text-white rounded-25 btn-icon btn-zoom-hover me-2 px-3 py-1 fs-12 cntact-header"
               href="{% url 'contact' %}">Contact Us</a>
            <button id="mainSidebarToggle" class="hamburger-btn" type="button">
              <span class="empty"></span>
              <span class="empty"></span>
              <span class="empty"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="whatsapp-sticky">
    <a target="_blank"
       href="https://api.whatsapp.com/send?phone=+971564182895&text=Hello,%20Deep%20Seafood"
       class="whatsapp-sticky">
      <img class="logo"
           width=""
           height=""
           src="{% static 'public_interface/images/icons/whatsapp.png' %}"
           alt="WhatsApp">
    </a>
  </div>
  <!-- Sidebar System -->
  <div class="sidebar-overlay"></div>
  <aside class="primary-nav">
    <div class="nav-close-container">
      <button id="mainSidebarClose" class="nav-close-btn">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
      </button>
    </div>
    <div class="nav-inner">
      <ul class="nav-menu-list">
        <div class="row">
          <div class="col-md-6">
            <li>
              <a href="{% url 'home' %}"
                 class="{% if request.path == '/' %}active{% endif %}">Home Page</a>
            </li>
            <li>
              <a href="{% url 'about' %}"
                 class="{% if 'about' in request.path %}active{% endif %}">About Us</a>
            </li>
            <li>
              <a href="{% url 'product' %}"
                 class="{% if 'product' in request.path %}active{% endif %}">Products</a>
            </li>
            <li class="nav-item dropdown">
              <a class="dropdown-toggle" href="#" id="brandsDropdown">Brands</a>
              <ul class="dropdown-menu border-0">
                <li>
                  <a href="#">Oceano</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="{% url 'distribution' %}"
                 class="{% if 'distribution' in request.path %}active{% endif %}">Distribution Channel</a>
            </li>
          </div>
          <div class="col-md-1">
            <div class="vr h-100 text-light"></div>
          </div>
          <div class="col-md-5 ps-md-4 align-self-center">
            <li>
              <a href="{% url 'news_room' %}"
                 class="{% if 'news_room' in request.path %}active{% endif %}">News Room</a>
            </li>
            <li>
              <a href="{% url 'career' %}"
                 class="{% if 'career' in request.path %}active{% endif %}">Careers</a>
            </li>
            {% if blog %}
              <li>
                <a href="{% url 'blogs' %}"
                   class="{% if 'blogs' in request.path %}active{% endif %}">Blog</a>
              </li>
            {% endif %}
            <li>
              <a href="{% url 'contact' %}"
                 class="{% if 'contact' in request.path %}active{% endif %}">Contact</a>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </aside>
</div>
