<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RZ20QPH6D6"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-RZ20QPH6D6');
        </script>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon"
              type="image/ico"
              href="{% static 'public_interface/images/general/logo.png' %}">
        <meta property="og:image"
              content="{% static 'public_interface/images/general/logo-white.png' %}">
        <meta property="og:description"
              content="We supply our products domestically and internationally depending on market needs. We offer extensive seafood baskets that are live, chilled, fresh, and frozen.">
        <meta property="og:url" content="">
        <meta property="og:title"
              content="37 Years of excellence in quality & service.">
        <!-- seo section -->
        <link rel="canonical" href="{{ data.canonical }}" />
        <meta name="description" content="{{ data.metatag }}" />
        <meta name="keywords" content="{{ data.keyword }}">
        <!-- CSS Files -->
        {% include "public_interface/layout/links.html" %}
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <!-- Header -->
        {% include "public_interface/layout/header.html" %}
        <!-- Content -->
        {% block content %}
        {% endblock content %}
        <!-- Footer -->
        {% include "public_interface/layout/footer.html" %}
        <!-- Scripts -->
        {% include "public_interface/layout/scripts.html" %}
        <!-- message -->
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show m-0 text-center"
                 id="success"
                 role="alert">
                {{ message }}
                <button type="button"
                        class="btn-close text-dark "
                        data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}
    </body>
</html>
