{% load static %}
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
<!-- Slick Slider -->
<script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- Plugins JS -->
<script src="{% static 'public_interface/modules/slick-slider/slick.min.js' %}"></script>
<script src="{% static 'public_interface/modules/slick-slider/custom.js' %}"></s>
<script src="{% static 'public_interface/modules/chosen-select/chosen.jquery.js' %}"></script>
<script src="{% static 'public_interface/modules/aos/aos.js' %}"></script>
<script src="{% static 'public_interface/modules/datepicker/jquery-ui.js' %}"></script>
<script src="{% static 'public_interface/modules/showmore/jquery.collapser.js' %}"></script>
<script src="{% static 'public_interface/modules/gsap/gsap.min.js' %}"></script>
<script src="{% static 'public_interface/modules/gsap/ScrollTrigger.min.js' %}"></script>
<!-- Initialize AOS -->
<script>AOS.init({ duration: 1000, once: true });</script>
<!-- Custom JS -->
<script src="{% static 'public_interface/js/custom.js' %}"></script>
<script src="{% static 'public_interface/js/bootstrap-select.min.js' %}"></script>
