{% load static %}
{% if testimonial %}
    <section id="testimonials" class="pb-30 pt-0">
        <div class="wrapper">
            <div class="row pt-30 text-center">
                <div class="col-12">
                    <div class="section-head">
                        <h1 class="text-blue font-lnterbold">TESTIMONIALS</h1>
                    </div>
                </div>
            </div>
            <div class="row text-center pt-50">
                <div class="col-12">
                    <div class="slick_slider_3 arrows-vector">
                        {% for t in testimonial %}
                            <div class="item">
                                <div class="words">
                                    <img width=""
                                         height=""
                                         alt=""
                                         src="{% static 'public_interface/images/icons/comma-blue.png' %} ">
                                    <div class="dec text-blue scrollbar">{{ t.message|safe }}</div>
                                    <div class="shape"></div>
                                </div>
                                <img width="" height="" alt="" class="user" src="{{ t.image.url }}">
                                <div class="name font-lnterbold">{{ t.name }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}
