{% load static %}
<input type="hidden" id="page" name="page" value="{{page}}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th>Name</th>
            <th>Quote</th>
            <th>Image</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_testimonials %}
        {% for testimonial in all_testimonials %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{ testimonial.name}}</td>
            <td>
                <a href="javascript:void(0)" class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#desc{{ testimonial.id}}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
            </td>

            <td>
                {% if testimonial.image %}
                <a href="{{testimonial.image.url}}" data-lightbox="team-{{ forloop.counter }}">
                    <img src="{{testimonial.image.url}}" style="width:90px;"></a>
                {% endif %}
            </td>
            
            <td>
                <div class="material-switch">
                    <input id="someSwitchOptionSuccess{{ testimonial.id}}" name="someSwitchOption001" type="checkbox" {% if  testimonial.status == True %} onclick="changetestimonialstatus({{ testimonial.id}},0)" checked {% else %}onclick="changetestimonialstatus({{ testimonial.id}},1)" {% endif %} />
                    <label for="someSwitchOptionSuccess{{ testimonial.id}}" class="label-success"></label>
                </div>
            </td>
            <td>

                <a class="btn btn-info btn-sm mb-1" href="{% url 'testimonial_update'  testimonial.id %}"><i class="side-menu__icon fe fe-edit"></i></a>

                <button type="button" class="btn btn-danger btn-sm mb-1"  ><i class="side-menu__icon fe fe-trash"  onclick="show_modal({{ testimonial.id}})"></i></button>

            </td>
        </tr>
        <!-- modal for description-->

        <div class="modal  fade" id="desc{{ testimonial.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                <div class="modal-content ">

                    <div class="modal-body">
                        <div>
                            <p>
                            {{d.message|safe}}
                            </p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <tr >
            <td colspan='10'><center>No record found</center></td>
        </tr>
        {% endif %}


    </tbody>
</table>

{%include "pagination.html"%}