{% load static %}
<section id="innovated" class="pt-0-lg-all pb-0-lg-all">
    <div class="wrapper pe-0-lg-all">
        <div class="row align-items-center">
            <div class="col-lg-4 col-12">
                <div class="section-head" data-aos="fade-right" data-aos-duration="500">
                    <h1 class="text-white font-lnterbold">INNOVATIVE PRODUCTS AND SERVICES</h1>
                    <h5 class="text-white">
                        We use premium products and provide the best services in the industry. At all levels
                        of the supply chain and through the entire logistics process, we are dedicated to quality and safety and
                        follow best industry practices.
                        We closely work with our customer's preferences and needs to improve our services.
                    </h5>
                    <a class="btn bg-blue text-white rounded-25 btn-icon btn-zoom-hover"
                       href="{% url 'about' %}">
                        <span>Read More</span>
                        <img width=""
                             height=""
                             alt="Right Arrow"
                             src="{% static 'public_interface/images/icons/right-arrow.png' %}">
                    </a>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-6 col-12"
                 data-aos="fade-left"
                 data-aos-duration="500">
                <div class="card-thumbnail">
                    <img width=""
                         height=""
                         alt="Since 1986"
                         loading="lazy"
                         class="img-primary"
                         src="{% static 'public_interface/images/general/thumb.png' %}">
                    <button class="btn-play show_file_btn"
                            type="button"
                            data-file-src="https://www.youtube.com/embed/YlXQxIb78cU?si=qD9PT6aFLxiujA3O">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </button>
                    <div class="caption">
                        <div class="title font-lntermedium">Watch us.. Know us..</div>
                        <div class="dec">A video showcasing our products and services</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
