{% load static %}
{% load custom_filters %}
<section id="export_market" class="bg-section">
    <div class="wrapper">
        <div class="row pt-30">
            <div class="col-lg-3 col-md-4"
                 data-aos="fade-right"
                 data-aos-duration="500">
                <div class="section-head">
                    <h1 class="text-blue font-lnterbold">EXPORT MARKET</h1>
                    <h5 class="text-blue">Our presence at various countries.</h5>
                </div>
                <table class="text-blue font-lntermedium load_more_item">
                    <tbody>
                        {% with "North America,ASIA,AFRICA,AUSTRALIA,Europe,MIDDLE EAST" as regions_list %}
                            {% for region in regions_list|split_by_comma %}
                                <tr>
                                    <td class="{% if forloop.counter == 1 %}pt-2{% endif %}">
                                        <img width=""
                                             height=""
                                             alt="Location pin icon for {{ region|title }}"
                                             src="{% static 'public_interface/images/icons/location.png' %}">
                                    </td>
                                    <td class="{% if forloop.counter == 1 %}pt-2{% endif %}">{{ region|upper }}</td>
                                </tr>
                            {% endfor %}
                        {% endwith %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td>
                                <button class="btn btn_load and-more text-blue">AND MORE</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-lg-9 col-md-8 mt-50-zero-sm"
                 data-aos="fade-left"
                 data-aos-duration="500">
                <img width=""
                     height=""
                     loading="lazy"
                     alt="Animated map illustrating global export destinations from the UAE of The Deep Seafood Company, with dynamic arrows radiating outward to international markets highlighting key trade routes and partner regions"
                     class="img-fluid"
                     src="{% static 'public_interface/images/index/export-market/EXPORT-MARKET.gif' %}">
            </div>
        </div>
    </div>
</section>
