{% load static %}
<section id="section_products bott" class="bg-x-light-blue pb-50">
    <div class="arrowbounce">
        <div class="animarea">
            <a class="aroow_bt" href="#ew"></a>
        </div>
    </div>
    <div class="wrapper pt-20" id="ew">
        <div class="row">
            <div class="col-12">
                <div class="section-head text-center"
                     data-aos="fade-up"
                     data-aos-duration="1500">
                    <h1 class="text-blue font-lnterbold res-mt">OUR SPECIALITIES</h1>
                    <p class="text-blue">
                        As fresh live seafood suppliers in Dubai, we offer a full range
                        of directly sourced European seafood, authentic Japanese seafood and frozen
                        seafood all over Middle East
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <form method="get" id="filter">
                <div class="position-relative">{% include "public_interface/components/products/product_filter.html" %}</div>
                <div class="tab-content pt-md-30">
                    <div class="tab-pane fade show active"
                         data-aos="fade-up"
                         data-aos-duration="1500">
                        <div class="row card-white-image APPENDPRO" id="index_product">
                            {% include "public_interface/components/products/product_lists.html" %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<script src="{% static 'public_interface/js/search_filter.js' %}"></script>
