{% load static %}
<section id="years_36" class="pt-30 pb-30 bg-x-light-blue">
    <div class="wrapper ps-60-zero-sm pe-0">
        <div class="row align-items-center">
            <div class="col-md-4 col-6 pe-0">
                <img width=""
                     height=""
                     alt=""
                     class="img-fluid img-primary"
                     src="{% static 'public_interface/images/index/years-36/39.gif' %}">
            </div>
            <div class="col-md-1 col-6 ps-0 pe-0">
                <div class="item wow fadeInUp wow_item ps-0">
                    <label class="text-pre-line card-hover-zoom fs-16 l-h-24 fw-bold">
                        Years of excellence
                        in Quality &
                        Service
                    </label>
                </div>
            </div>
            <div class="col-md-7 col-12 ps-0">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="item wow fadeInUp wow_item">
                            <div class="data font-lnterbold text-blue">
                                <span class="animate_count" data-number="1000">0</span>+
                            </div>
                            <label>Efficient Employees</label>
                            <div class="hr bg-blue"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="item wow fadeInUp wow_item">
                            <div class="data font-lnterbold text-blue">
                                <span class="animate_count" data-number="250">0</span>+
                            </div>
                            <label>Freezer & Chiller Trucks</label>
                            <div class="hr bg-blue"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="item wow fadeInUp wow_item">
                            <div class="data font-lnterbold text-blue">
                                <span class="animate_count" data-number="2500">0</span>+
                            </div>
                            <label>SKUs</label>
                            <div class="hr bg-blue"></div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="item wow fadeInUp wow_item">
                            <div class="data font-lnterbold text-blue">
                                <span class="animate_count" data-number="8000">0</span>+MT
                            </div>
                            <label>Storage</label>
                            <div class="hr bg-blue"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
