<div class="row">
    <div class="form-group col-lg-2 col-12">
        <form method="get" action="#results">
            <input type="text"
                   class="form-control"
                   name="search"
                   placeholder="Keyword Search"
                   id="search">
        </div>
        {% if not status %}
            <div class="form-group col-lg-2 col-12">
                <select name="status_filter"
                        id="status"
                        class="form-control form-select select2"
                        data-bs-placeholder="Select Country">
                    <option value="">Status</option>
                    <option value="True">Active</option>
                    <option value="False">Inactive</option>
                </select>
            </div>
        {% endif %}
        {% if search_date %}
            <div class="form-group col-lg-2 col-12">
                <label>Start Date</label>
                <input type="date" class="form-control" id="start_date" name="search">
            </div>
            {% comment %} <div class="form-group col-lg-2 col-12">
                <label>End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
            </div> {% endcomment %}
        {% endif %}
        <div class="form-group col-lg-3 col-12">
            <button type="submit" class="btn btn-primary mr-1">Search</button>
            <a class="btn btn-default" href="{{ request.path }}">Reset</a>
        </div>
    </form>
</div>
