<!DOCTYPE html>
<html lang="en" translate="no">
    <head>
        <meta charset="utf-8">
        <title>The Deep Sea Food - Suggestions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description"
              content="We're Listening! Share Your Ideas to Help Deep Seafood Company Shine Even Brighter!">
        <meta name="keywords"
              content="suggestions, thedeepseafood, seafood, quality seafood, best practices, seafood ideas, excellence">
        <meta name="author" content="The Deep Sea Food Company">
        <style>
        /* Ensure the body and html elements take the full height */
        html,
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
        }
        </style>
    </head>
    <body class="notranslate">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScBOZcFl1IsXaCflH8jCbCBWNBt3369R-GqHTT82hCIFH2aQA/viewform?embedded=true"
                width="640"
                height="999"
                frameborder="0"
                marginheight="0"
                marginwidth="0">Loading…</iframe>
    </body>
</html>
