{% comment %} {% load static %}
<input type="hidden" id="page" name="page" value="{{page}}">

<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr class="text-center">
            <th>Sl No</th>
            <th>title</th>
            <th>year</th>
            <th>DESCRIPTION</th>
            <th>Image </th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_history %}
        {% for history in all_history %}
        <tr class="text-center">
            <td>{{forloop.counter}}</td>
            <td>{{history.title}}</td>
            <td>{{history.year}}</td>
            <td>
                <a href="javascript:void(0)" class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#desc{{history.id}}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
            </td>

            <td>
                <a href="javascript:void(0)" class="btn btn-success btn-sm mb-1" data-bs-toggle="modal" data-bs-target="#slider{{history.id}}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
            </td>
            <td>
                <div class="material-switch">
                    <input id="someSwitchOptionSuccess{{history.id}}" name="someSwitchOption001" type="checkbox" {% if history.status == True %} onclick="changehistorystatus({{history.id}},0)" checked {% else %}onclick="changehistorystatus({{history.id}},1)" {% endif %} />
                    <label for="someSwitchOptionSuccess{{history.id}}" class="label-success"></label>
                </div>
            </td>
            <td>

                <a class="btn btn-info btn-sm mb-1" href="{% url 'history_update' history.id %}"><i class="side-menu__icon fe fe-edit"></i></a>

                <button class="btn btn-danger btn-sm mb-1"  ><i class="side-menu__icon fe fe-trash"  onclick="show_modal({{d.id}})"></i></button>


            </td>
        </tr>
         <!-- modal for description-->

         <div class="modal  fade" id="desc{{history.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                <div class="modal-content ">

                    <div class="modal-body">
                        <div>
                            <p>
                            {{history.description|safe}}
                            </p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

        <!-- modal for slider-->

        <div class="modal  fade" id="slider{{history.id}}" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-md modal-dialog-centered text-center" role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Slider Images</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% if history.history_image.exists %}
                            {% for slider in history.history_image.all %}
                            <a href="{{slider.image.url}}" data-lightbox="images" data-title="">
                                <img src="{{slider.image.url}}" height="100" width="100"></a>
                            {% endfor %}
                        {% else %}
                        <p>No slider images available for this event</p>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <tr >
            <td colspan='10'><center>No record found</center></td>
        </tr>
        {% endif %}

    </tbody>
</table>
{% include "pagination.html"%} {% endcomment %}