{% include 'superadmin/layout/header.html' %}
{% load static %}
<!-- ROW OPEN -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">List Of All History</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <!---search_filter-->
                    {% include "search_filter.html" %}
                    <div class="table-responsive" id="history-table">
                        <table class="table border-top table-bordered mb-0 table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>Sl No</th>
                                    <th>Title</th>
                                    <th>Year</th>
                                    <th>Description</th>
                                    <th>Image</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if all_history %}
                                    {% for history in all_history %}
                                        <tr class="text-center">
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ history.title }}</td>
                                            <td>{{ history.year }}</td>
                                            <td>
                                                <a href
                                                   class="btn btn-success btn-sm mb-1"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#desc{{ history.id }}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
                                            </td>
                                            <td>
                                                <a href
                                                   class="btn btn-success btn-sm mb-1"
                                                   data-bs-toggle="modal"
                                                   data-bs-target="#slider{{ history.id }}"><i class="side-menu__icon fe fe-eye mx-1"></i></a>
                                            </td>
                                            <td>
                                                <form method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="status_id"  value="{{ history.id }}">
                                                    <div class="form-check form-switch">
                                                        <input class="form-check-input"
                                                               type="checkbox"
                                                               id="customSwitch1"
                                                               name="status"
                                                               {% if history.status %}checked{% endif %}
                                                               onchange="this.form.submit()">
                                                    </div>
                                                </form>
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-sm mb-1"
                                                   href="{% url 'history_update' history.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                                                <button type="button"
                                                        class="btn btn-danger btn-sm mb-1"
                                                        data-bs-toggle="modal"
                                                        data-bs-target="#deleteModal{{ history.id }}">
                                                    <i class="side-menu__icon fe fe-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <!-- modal for description-->
                                        <div class="modal  fade"
                                             id="desc{{ history.id }}"
                                             tabindex="-1"
                                             role="dialog">
                                            <div class="modal-dialog modal-md modal-dialog-centered text-center"
                                                 role="document">
                                                <div class="modal-content ">
                                                    <div class="modal-body">
                                                        <div>
                                                            <p>{{ history.description|safe }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- modal for slider-->
                                        <div class="modal  fade"
                                             id="slider{{ history.id }}"
                                             tabindex="-1"
                                             role="dialog">
                                            <div class="modal-dialog modal-md modal-dialog-centered text-center"
                                                 role="document">
                                                <div class="modal-content ">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">Slider Images</h5>
                                                        <button type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {% if history.history_image.exists %}
                                                            {% for slider in history.history_image.all %}
                                                                <a href="{{ slider.image.url }}" data-lightbox="images" data-title="">
                                                                    <img src="{{ slider.image.url }}" height="100" width="100">
                                                                </a>
                                                            {% endfor %}
                                                        {% else %}
                                                            <p>No slider images available for this event</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal  fade"
                                             id="deleteModal{{ history.id }}"
                                             tabindex="-1"
                                             role="dialog">
                                            <div class="modal-dialog modal-md modal-dialog-centered text-center"
                                                 role="document">
                                                <div class="modal-content ">
                                                    <div class="modal-body">
                                                        <button aria-label="Close"
                                                                class="btn-close position-absolute"
                                                                data-bs-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                        <i class="icon icon-close fs-70 text-danger lh-1 my-5 d-inline-block"></i>
                                                        <h4 class="text-danger">Are You Sure Do You Want To Delete ?</h4>
                                                        <p class="mg-b-20 mg-x-20">Item Will be Deleted Permanently</p>
                                                        <form method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="delete_id" value="{{ history.id }}">
                                                            <button type="submit" class="btn btn-success btn-sm">Yes</button>
                                                            <button type="button"
                                                                    class="btn btn-danger pd-x-25 btn-sm"
                                                                    data-bs-dismiss="modal">Cancel</button>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer"></div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan='10'>
                                            <center>No record found</center>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                        {% if all_history %}
                            <div class="mt-4">{% include "pagination.html" %}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ROW CLOSED -->
</div>
{% include 'superadmin/layout/footer.html' %}
