{% load static %}
{% for product in all_products %}
    <div class="col-lg-3 col-md-4 col-6 pt-20">
        <div class="item card-hover-up">
            <img class="img-primary"
                 width=""
                 height=""
                 src="{{ product.image.url }}"
                 alt="{{ product.image_alt }}">
            <div class="info">
                <div class="title font-lntermedium">{{ product.name }}</div>
                <img width=""
                     height=""
                     alt="right-arrow"
                     src="{% static 'website/assets/public/images/icons/right-arrow-blue.png' %}"
                     class="product-img-33">
            </div>
            <a class="primary-btn" href="{% url 'product_details' product.slug %}"></a>
        </div>
    </div>
{% endfor %}
