{% extends "website/layout/public_base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}
  <!-- seo end -->
  <div class="pre_loader pre-loader"></div>
  <!-- pre-loader -->
  <div class="main-div pt-0 header-bg-transparent header-logo-white enquiry-btn-bg-transparent">
    <!-- product-view -->
    <section id="product-view" class="pt-0">
      <div class="banner-cover">
        <img class="img-primary"
             width=""
             height=""
             alt=""
             src="{{ product.image.url }}">
        <div class="caption w-100 text-center">
          <div class="wrapper">
            <div class="row text-white">
              <div class="col-12" data-aos="fade-down" data-aos-duration="2000">
                <h3 class="font-lnterbold">PRODUCT</h3>
                <h5 class="font-lnterbold">
                  <a href="{% url 'index' %}">Home</a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a href="{% url 'product' %}">Product</a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a href="{% url 'product' %}?type={{ product.type }}">{{ product.type }}</a>
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <a>{{ product.name }}</a>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container common-padding padd_t_b_70 bg-section">
        <div class="row padd_top_50">
          <div class="col-lg-12">
            <ul class="nav nav-tabs nav-tabs-bg border-0 justify-content-center mb-4"
                data-aos="fade-up"
                data-aos-duration="1000">
              <li class="nav-item">
                <a data-id="all"
                   class="nav-link {% if product.type == 'Local Catch' %}active{% endif %}"
                   href="{% url 'product' %}?type=Local Catch">Local Catch</a>
              </li>
              <li class="nav-item">
                <a data-id="all"
                   class="nav-link {% if product.type == 'Imported' %}active{% endif %}"
                   href="{% url 'product' %}?type=Imported">Imported</a>
              </li>
              <li class="nav-item">
                <a data-id="all"
                   class="nav-link {% if product.type == 'Value Added' %}active{% endif %}"
                   href="{% url 'product' %}?type=Value Added">Value added</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 row">
            <div class="col-md-4" data-aos="fade-down" data-aos-duration="2500">
              <img class="img-fluid rounded-25 img-product-99"
                   width=""
                   height=""
                   src="{{ product.image.url }}"
                   alt="{{ product.image_alt }}">
            </div>
            <div class="col-md-8 mt-50-zero-sm"
                 data-aos="fade-up"
                 data-aos-duration="1000">
              <div class="section-head pb-15">
                <h1 class="text-blue font-lnterbold">{{ product.name }}</h1>
              </div>
              <div class="col-lg-12">
                <ul class="nav nav-tabs nav-tabs-bg border-0 justify-content-left"
                    data-aos="fade-up"
                    data-aos-duration="2000"
                    id="pro-dtl">
                  {% for c in category %}
                    {% if product.id|product_belongs_to_category:c.id %}
                      <li class="nav-item">
                        <a data-id="all"
                           class="nav-link category-link {% if forloop.first or cat == c.id %}active{% endif %}"
                           data-category-id="{{ c.id }}"
                           data-pid="{{ product.id }}"
                           onclick="switchprodcategory(this)">{{ c.name }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
              <div class="product-details text-blue" id="prod">{% include "website/products/details.html" %}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="related-products">
        <div class="wrapper padd_t_70">
          <div class="row">
            <div class="col-12">
              <div class="section-head">
                <h1 class="text-blue font-lntermedium">RELATED PRODUCTS</h1>
              </div>
            </div>
          </div>
          <div class="row text-center" data-aos="fade-up" data-aos-duration="1500">
            {% for i in list %}
              <div class="col-lg-2 col-md-3 colsm-4 col-6 mt-25">
                <div class="item card-hover-up">
                  <img class="img-primary"
                       width=""
                       height=""
                       src="{{ i.image.url }}"
                       alt="{{ i.image_alt }}">
                  <div class="title font-lntermedium text-blue">{{ i.name }}</div>
                  <a class="url-primary"
                     href="{% url 'product_details' i.slug_product %}#drt"></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <!-- /product-view -->
  </div>
  <button class="btn toggle-enquiry toggle_enquiry enqry-btn">ENQUIRY NOW</button>
  <div class="enquiry bg-x-light-blue">
    <button class="btn close-btn text-blue toggle_enquiry btn-zoom-hover">
      <i class="fa fa-times-circle" aria-hidden="true"></i>
    </button>
    <div class="head text-center">
      <div class="title text-blue font-lnterbold">SEND US YOUR ENQUIRY</div>
    </div>
    {% include "website/enquiry/enquiry-form.html" %}
  </div>
{% endblock content %}
