{% comment %} {% load static %} {% endcomment %}
{% comment %} <input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Sequence No</th>
            <th>Name</th>
            <th>Brand</th>
            <!-- <th>Image</th> -->
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_category %}
            {% for category in all_category %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ category.sequence }}</td>
                    <td>{{ category.name }}</td>
                    <td>{{ category.brand }}</td>
                    <td>
                        <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="status_id" value={{ category.id }}>
                            <div class="material-switch">
                                <input id="someSwitchOptionSuccess{{ category.id }}" name="status" type="checkbox" {% if category.status %}checked{% endif %} onchange="this.form.submit()">
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1" href="{% url 'category_update' category.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash" onclick="show_modal({{ category.id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %} {% endcomment %}
