<ul class="nav nav-tabs nav-tabs-bg border-0 prod_tab_sc {% if request.resolver_match.url_name == 'product_details' %}mb-3{% endif %}"
    data-aos="fade-up"
    data-aos-duration="1000">
    {% if request.resolver_match.url_name == 'product_details' %}
        <div class="d-none"></div>
    {% else %}
        <li class="nav-item">
            <button type="submit"
                    name="type"
                    value=""
                    class="nav-link btn border-0 {% if request.GET.type == None %}active{% endif %}">All</button>
        </li>
    {% endif %}
    <li class="nav-item">
        <button type="submit"
                name="type"
                {% if request.resolver_match.url_name == 'product_details' %} onclick="location.href='{% url 'product' %}?type=local catch'" {% endif %}
                value="local catch"
                class="nav-link btn border-0 {% if request.GET.type == 'local catch' %}active{% endif %}">
            Local Catch
        </button>
    </li>
    <li class="nav-item">
        <button type="submit"
                name="type"
                {% if request.resolver_match.url_name == 'product_details' %} onclick="location.href='{% url 'product' %}?type=imported'" {% endif %}
                value="imported"
                class="nav-link btn border-0 {% if request.GET.type == 'imported' %}active{% endif %}">
            Imported
        </button>
    </li>
    <li class="nav-item">
        <button type="submit"
                name="type"
                {% if request.resolver_match.url_name == 'product_details' %} onclick="location.href='{% url 'product' %}?type=value added'" {% endif %}
                value="value added"
                class="nav-link btn border-0 {% if request.GET.type == 'value added' %}active{% endif %}">
            Value Added
        </button>
    </li>
</ul>
