{% include "superadmin/layout/header.html" %}
{% load static %}
<!-- ROW OPEN -->
<div class="row">
    <div class="col-md-12 col-xl-12 col-12">
        <div class="card">
            <div class="card-body">
                <form method="post" id="myform">
                    {% csrf_token %}
                    <div class="row col-lg-12">
                        <div class="form-group col-lg-12">{{ form.as_p }}</div>
                        <div class="form-group col-lg-12 col-12">
                            <button type="submit" class="btn btn-primary mt-4 mb-0" id="submitButton">Submit</button>
                            <a href="{% url 'job_category_view' %}" class="btn btn-danger mt-4 mb-0">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- ROW CLOSED -->
    </div>
    <!-- CONTAINER END -->
</div>
<!--app-content close-->
{% include "superadmin/layout/footer.html" %}
