{% comment %} {% load static %}
<input type="hidden" id="page" name="page" value="{{ page }}">
<table class="table border-top table-bordered mb-0 table-hover">
    <thead>
        <tr>
            <th>Sl No</th>
            <th>Job</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% if all_job_category %}
            {% for job in all_job_category %}
                <tr>
                    <form method ="post">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ job.name }}</td>
                        <td>
                            <div class="material-switch">
                                <input id="someSwitchOptionSuccess{{ job.id }}"
                                       name="someSwitchOption001"
                                       type="checkbox"
                                       {% if job.status %}checked{% endif %}
                                       onchange="this.form.submit()">
                            </div>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm mb-1"
                           href="{% url 'job_category_update' job.id %}"><i class="side-menu__icon fe fe-edit"></i></a>
                        <button class="btn btn-danger btn-sm mb-1">
                            <i class="side-menu__icon fe fe-trash"
                               onclick="show_modal({{ job.id }})"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan='10'>
                    <center>No record found</center>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
{% include "pagination.html" %} {% endcomment %}
